Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
      types: [file, python]
    - id: check-added-large-files
-   repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        types: [file, python]
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff --fix
        types: [file, python]
        language: system
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        types: [file, python]
        language: system
      - id: flake8
        name: flake8
        entry: poetry run pflake8
        types: [file, python]
        language: system
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
        types: [rst]
        language: system

Added water droplet risk module
  docs/images/operational_risk_modules/waterdroplet_blur_strength_heavy.png
  docs/images/operational_risk_modules/waterdroplet_blur_strength_light.png
  docs/images/operational_risk_modules/waterdroplet_blur_strength_medium.png
  docs/images/operational_risk_modules/waterdroplet_num_drops_heavy.png
  docs/images/operational_risk_modules/waterdroplet_num_drops_light.png
  docs/images/operational_risk_modules/waterdroplet_num_drops_medium.png
  docs/images/operational_risk_modules/waterdroplet_size_range_heavy.png
  docs/images/operational_risk_modules/waterdroplet_size_range_light.png
  docs/images/operational_risk_modules/waterdroplet_size_range_medium.png
  docs/operational_risk_modules/water_droplets.rst
  docs/release_notes/pending_release/624-water-droplet-module.rst
  docs/risk_factors.rst
Due: sphinx-lint

Move NOPPerturber to nrtk/utils
  src/nrtk/impls/perturb/optical/pybsm_perturber.py
  src/nrtk/utils/_nop_perturber.py
  tests/impls/perturb/test_nop_perturber.py
  tests/impls/perturb/wrapper/test_compose_perturber.py
  tests/interop/maite/augmentations/test_image_classification.py
  tests/interop/maite/augmentations/test_object_detection.py
Due: black, ruff, mypy, flake8

changing np.float128 to np.longdouble to support ARM platforms
  src/nrtk/impls/perturb/environment/water_droplet_perturber.py
Due: black, ruff, mypy, flake8

Removed PybsmSensor and PybsmScenario
  docs/examples/maite/daml/daml_example_notebook.ipynb
  docs/examples/maite/gradio/nrtk-gradio.ipynb
  docs/release_notes/pending_release/657-remove-PybsmSensor-PybsmScenario.rst
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/utils/scenario.py
  src/nrtk/impls/utils/sensor.py
  tests/examples/test_notebooks.py
  tests/impls/image_metric/test_niirs_image_metric.py
  tests/impls/perturb/optical/test_pybsm_scenario.py
  tests/impls/perturb/optical/test_pybsm_sensor.py
Due: black, ruff, mypy, flake8, sphinx-lint

migrating to poetry 2p0
  .gitlab-ci/.gitlab-docs.yml
  .gitlab-ci/.gitlab-quality.yml
  .gitlab-ci/.gitlab-security.yml
  .gitlab-ci/.gitlab-shared.yml
  .gitlab-ci/.gitlab-test.yml
  .gitlab-ci/.gitlab-vcrm.yml
  Dockerfile
  README.md
  docs/getting_started/installation.rst
  docs/release_notes/pending_release/585-supporting-poetry-2p2.rst
  poetry.lock
  poetry.toml
  pyproject.toml
  src/nrtk/impls/__init__.py
  src/nrtk/utils/_extras.py
  src/nrtk/utils/_extras.yml
Due: black, ruff, mypy, flake8, sphinx-lint

Fixed the RTD config to support poetry 2.2+
  .readthedocs.yaml
Due: none

Refined documents to reflect new package structure
  docs/explanations/risk_factors.rst
  docs/reference/glossary.rst
  docs/release_notes/pending_release/643-refine-documentation.rst
  docs/tutorials/testing_and_evaluation_notebooks.rst
Due: sphinx-lint

Refined how-to notebooks to align with new perturber structure
  .gitlab-ci/.gitlab-test.yml
  docs/examples/albumentations_perturber.ipynb
  docs/examples/generative_perturbers.ipynb
  docs/examples/optical_perturbers.ipynb
  docs/examples/photometric_perturbers.ipynb
  docs/how_to_guides/index.rst
  docs/release_notes/pending_release/652-refine-how-to-pages.rst
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added a Validation and Trust page
  docs/explanations/nrtk_explanation.rst
  docs/getting_started/quickstart.rst
  docs/release_notes/pending_release/validation.rst
  docs/validation_and_trust.rst
Due: sphinx-lint

Fixed display module name and not the full path under implementations
  README.md
  docs/_templates/custom-module-template.rst
  docs/explanations/risk_factors.rst
  docs/reference/api/implementations.rst
  docs/reference/perturber_reference/photometric.rst
  docs/tutorials/testing_and_evaluation_notebooks.rst
Due: sphinx-lint

Add semantic versioning and initial sign job
  .gitlab-ci/.gitlab-container.yml
  .gitlab-ci/pipelines/.gitlab-container.yml
  docs/release_notes/pending_release/add-semantic-versioning-container.rst
Due: sphinx-lint

Fixed an incorrect test name
  docs/release_notes/pending_release/renamed-incorrect-test-name.rst
  tests/impls/perturb_image_factory/generic/test_linspace.py
Due: black, ruff, mypy, flake8, sphinx-lint

Made perturber factories private submodules
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/pybsm_default_config.ipynb
  docs/reference/api/implementations.rst
  docs/release_notes/pending_release/private-factory-submodules.rst
  pyproject.toml
  src/nrtk/impls/perturb_image_factory/__init__.py
  src/nrtk/impls/perturb_image_factory/_perturber_linspace_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_multivariate_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_one_step_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_step_factory.py
  tests/data/nrtk_bad_linspace_config.json
  tests/data/nrtk_bad_step_config.json
  tests/data/nrtk_brightness_config.json
  tests/data/nrtk_noise_config.json
  tests/impls/perturb_image_factory/test_perturber_linspace_factory.py
  tests/impls/perturb_image_factory/test_perturber_multivariate_factory.py
  tests/impls/perturb_image_factory/test_perturber_one_step_factory.py
  tests/impls/perturb_image_factory/test_perturber_step_factory.py
  tests/interop/maite/data/nrtk_blur_config.json
  tests/interop/maite/data/nrtk_pybsm_config.json
  tests/interop/maite/utils/test_nrtk_perturber_opencv.py
  tests/interop/maite/utils/test_nrtk_perturber_pybsm.py
Due: black, ruff, mypy, flake8, sphinx-lint

Redefined DummyPerturber as FakePerturber
  docs/release_notes/pending_release/replace-dummy-with-fake-perturber.rst
  tests/fakes.py
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_one_step_factory.ambr
  tests/impls/perturb_image_factory/test_perturber_linspace_factory.py
  tests/impls/perturb_image_factory/test_perturber_multivariate_factory.py
  tests/impls/perturb_image_factory/test_perturber_one_step_factory.py
  tests/impls/perturb_image_factory/test_perturber_step_factory.py
Due: black, ruff, mypy, flake8, sphinx-lint

Remove generate_config_file option from entrypoint
  docs/release_notes/pending_release/612-remove-gen-config-file-from-entrypoint.rst
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
  tests/interop/maite/utils/test_nrtk_perturber_cli.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update numpy and nrtk-albumentations deps pins in pyproject.toml
  .pre-commit-config.yaml
  docs/release_notes/pending_release/remove-numpy-upper-bound.rst
  poetry.lock
  pyproject.toml
  src/nrtk/utils/_extras.yml
Due: sphinx-lint

Use json logging
  docs/release_notes/pending_release/615-json-logging.rst
  poetry.lock
  pyproject.toml
  src/nrtk/interop/maite/api/converters.py
  src/nrtk/interop/maite/datasets/object_detection.py
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
  src/nrtk/interop/maite/utils/detection.py
  src/nrtk/interop/maite/utils/nrtk_perturber.py
  src/nrtk/utils/_extras.yml
  src/nrtk/utils/_logging.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added risk modules for defocus, radial distortion, and turbulence
  docs/explanations/operational_risk_modules/atmospheric_turbulence.rst
  docs/explanations/operational_risk_modules/defocus.rst
  docs/explanations/operational_risk_modules/haze.rst
  docs/explanations/operational_risk_modules/radial_distortion.rst
  docs/explanations/operational_risk_modules/water_droplets.rst
  docs/explanations/risk_factors.rst
  docs/images/operational_risk_modules/defocus_heavy.png
  docs/images/operational_risk_modules/defocus_light.png
  docs/images/operational_risk_modules/defocus_medium.png
  docs/images/operational_risk_modules/radial_distortion_fisheye_heavy.png
  docs/images/operational_risk_modules/radial_distortion_fisheye_light.png
  docs/images/operational_risk_modules/radial_distortion_fisheye_medium.png
  docs/images/operational_risk_modules/radial_distortion_pincushion_heavy.png
  docs/images/operational_risk_modules/radial_distortion_pincushion_light.png
  docs/images/operational_risk_modules/radial_distortion_pincushion_medium.png
  docs/images/operational_risk_modules/turbulence_altitude_heavy.png
  docs/images/operational_risk_modules/turbulence_altitude_light.png
  docs/images/operational_risk_modules/turbulence_altitude_medium.png
  docs/images/operational_risk_modules/turbulence_cn2_at_1m_heavy.png
  docs/images/operational_risk_modules/turbulence_cn2_at_1m_light.png
  docs/images/operational_risk_modules/turbulence_cn2_at_1m_medium.png
  docs/release_notes/pending_release/adding-three-risk-modules.rst
Due: sphinx-lint

updated docs and docstrings to use perturber callable interface
  README.md
  docs/examples/optical_perturbers.ipynb
  docs/explanations/operational_risk_modules/atmospheric_turbulence.rst
  docs/explanations/operational_risk_modules/defocus.rst
  docs/explanations/operational_risk_modules/haze.rst
  docs/explanations/operational_risk_modules/radial_distortion.rst
  docs/explanations/operational_risk_modules/water_droplets.rst
  docs/getting_started/first_perturbation.rst
  docs/release_notes/pending_release/690-update-callables-in-docs.rst
  src/nrtk/impls/perturb_image/environment/haze_perturber.py
  src/nrtk/impls/perturb_image/environment/water_droplet_perturber.py
  src/nrtk/impls/perturb_image/generative/diffusion_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_crop_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_rotation_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_scale_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_translation_perturber.py
  src/nrtk/impls/perturb_image/optical/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/pybsm_perturber.py
  src/nrtk/impls/perturb_image/optical/radial_distortion_perturber.py
  src/nrtk/impls/perturb_image/optical/turbulence_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/photometric/_impl/blur.py
  src/nrtk/impls/perturb_image/photometric/_impl/noise.py
  src/nrtk/impls/perturb_image/wrapper/albumentations_perturber.py
  src/nrtk/impls/perturb_image/wrapper/compose_perturber.py
  src/nrtk/utils/_nop_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

updating docstrings to use new perturber structure
  src/nrtk/impls/perturb_image/geometric/random_rotation_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_scale_perturber.py
  src/nrtk/impls/utils/utils.py
Due: black, ruff, mypy, flake8

Fix glossary and add albumentations how-to link
  docs/explanations/risk_factors.rst
  docs/reference/glossary.rst
  docs/release_notes/pending_release/701-703-documentation-updates.rst
Due: sphinx-lint

Fix sphinx-lint trailing character errors
  .gitlab-ci/.gitlab-quality.yml
  .pre-commit-config.yaml
  docs/_templates/custom-class-template.rst
  docs/_templates/custom-function-template.rst
  docs/_templates/custom-module-template.rst
Due: sphinx-lint

Refactored perturb image factory tests
  docs/release_notes/pending_release/refactor-factory-tests.rst
  docs/release_notes/pending_release/self-contained-factory-tests.rst
  src/nrtk/impls/perturb_image/optical/pybsm_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/pybsm_perturber.py
  src/nrtk/impls/perturb_image_factory/_perturber_multivariate_factory.py
  tests/data/nrtk_bad_linspace_config.json
  tests/data/nrtk_bad_step_config.json
  tests/data/nrtk_brightness_config.json
  tests/data/nrtk_noise_config.json
  tests/fakes.py
  tests/impls/perturb_image/environment/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[100-0.8-0.2-0].json
  tests/impls/perturb_image/environment/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[100-0.8-0.2-50].json
  tests/impls/perturb_image/environment/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[5-0.8-0.2-50].json
  tests/impls/perturb_image/environment/test_water_droplet_perturber.py
  tests/impls/perturb_image_factory/__init__.py
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_one_step_factory.ambr
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.003-0.009-0.001].1.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.003-0.009-0.001].2.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.003-0.009-0.001].3.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.003-0.009-0.001].4.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.003-0.009-0.001].5.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.003-0.009-0.001].tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.002-0.006-0.001].1.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.002-0.006-0.001].2.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.002-0.006-0.001].3.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.002-0.006-0.001].tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].1.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].2.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].3.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].4.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].5.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].6.tiff
  tests/impls/perturb_image_factory/__snapshots__/test_perturber_step_factory/TestPerturberStepFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].tiff
  tests/impls/perturb_image_factory/_test_perturb_image_factory.py
  tests/impls/perturb_image_factory/test_perturber_linspace_factory.py
  tests/impls/perturb_image_factory/test_perturber_multivariate_factory.py
  tests/impls/perturb_image_factory/test_perturber_one_step_factory.py
  tests/impls/perturb_image_factory/test_perturber_step_factory.py
  tests/interfaces/test_perturb_image_factory.py
  tests/utils/__init__.py
Due: black, ruff, mypy, flake8, sphinx-lint

Remove weak tests and fix test_image_classification
  docs/release_notes/pending_release/713-714-test-fixing.rst
  tests/conftest.py
  tests/interop/maite/augmentations/test_image_classification.py
Due: black, ruff, mypy, flake8, sphinx-lint

Updated endpoints to be fully qualified module paths
  docs/release_notes/pending_release/update-smqtk-plugin-entrypoints.rst
  pyproject.toml
Due: sphinx-lint

consolidating default pybsm params in a constants file
  docs/release_notes/pending_release/667-consolidate-pybsm-defaults.rst
  src/nrtk/impls/perturb_image/optical/pybsm_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/pybsm_perturber.py
  src/nrtk/utils/_constants.py
Due: black, ruff, mypy, flake8, sphinx-lint

Renamed _TestPerturbImageFactory to PerturberFactoryMixin
  docs/release_notes/pending_release/refactor-factory-tests.rst
  docs/release_notes/pending_release/self-contained-factory-tests.rst
  tests/impls/perturb_image_factory/__init__.py
  tests/impls/perturb_image_factory/perturber_factory_mixin.py
  tests/impls/perturb_image_factory/test_perturber_linspace_factory.py
  tests/impls/perturb_image_factory/test_perturber_multivariate_factory.py
  tests/impls/perturb_image_factory/test_perturber_one_step_factory.py
  tests/impls/perturb_image_factory/test_perturber_step_factory.py
  tests/interfaces/test_perturb_image_factory.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added a public cosign key for containers
  .gitignore
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-container.yml
  .gitlab-ci/pipelines/.gitlab-container.yml
  Dockerfile
  cosign.pub
  docs/release_notes/pending_release/605-added-cosign-key.rst
Due: sphinx-lint
