Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

Fix formatting issue
  tests/impls/perturb_image/generic/cv2/test_blur.py
Due: black, ruff, mypy, flake8

Add back the missing snapshots
  tests/impls/perturb_image/generic/cv2/__snapshots__/test_blur/TestAverageBlurPerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/cv2/__snapshots__/test_blur/TestGaussianBlurPerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/cv2/__snapshots__/test_blur/TestMedianBlurPerturber.test_consistency.tiff
Due: none

Add regression testing to PIL perturbers
  docs/release_notes/pending_release.rst
  tests/impls/perturb_image/generic/PIL/__snapshots__/test_enhance/TestColorPerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/PIL/__snapshots__/test_enhance/TestContrastPerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/PIL/__snapshots__/test_enhance/TestSharpnessPerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/PIL/test_enhance.py
Due: black, ruff, mypy, flake8, sphinx-lint

Convert the skimage test_consistency regression tests to Syrupy
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
Due: black, ruff, mypy, flake8

Add snapshot images
  tests/impls/perturb_image/generic/skimage/__snapshots__/test_random_noise/TestGaussianNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/skimage/__snapshots__/test_random_noise/TestPepperNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/skimage/__snapshots__/test_random_noise/TestSaltAndPepperNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/skimage/__snapshots__/test_random_noise/TestSaltNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/skimage/__snapshots__/test_random_noise/TestSpeckleNoisePerturber.test_consistency.tiff
Due: none

Add release notes
  docs/release_notes/pending_release.rst
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
Due: black, ruff, mypy, flake8, sphinx-lint

Auto Merge Request - 640d0219
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Update min deps for program standards
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Add poetry<2.0 note
  README.md
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Switched to package name parameterized devsecops component
  .gitlab-ci.yml
Due: none

Cleaned up pending release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Addressed tornado vulnerability
  poetry.lock
Due: none

Update version number to 0.21.0
  docs/release_notes.rst
  docs/release_notes/v0.21.0.rst
  pyproject.toml
Due: sphinx-lint

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Updated release notes
  docs/release_notes/v0.21.0.rst
Due: sphinx-lint

Updated poetry.lock to address vulnerabilities
  poetry.lock
  pyproject.toml
Due: none

Add pyright extras override
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-quality.yml
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Specify maite dep as ^0.7.1, not >=
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Update version number to 0.21.1
  docs/release_notes.rst
  docs/release_notes/v0.21.1.rst
  pyproject.toml
Due: sphinx-lint

Add release notes summary
  docs/release_notes/v0.21.1.rst
Due: sphinx-lint

Add more documentation and image plotting to T&E guides
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Added implementation for Water Droplet Perturber
  .gitlab-ci/.gitlab-test.yml
  docs/implementations.rst
  docs/installation.rst
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/utils/__init__.py
  src/nrtk/impls/perturb_image/generic/utils/water_droplet_perturber_utils.py
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
  src/nrtk/utils/_exceptions.py
  tests/impls/__init__.py
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturber.test_regression[size_range0-20-0.25-1.5707963267948966-1.0-1.33-400-400-0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturber.test_regression[size_range1-20-0.25-1.5707963267948966-1.0-1.33-400-400-12].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturber.test_regression[size_range2-20-0.25-1.5707963267948966-1.0-1.33-400-400-234].tiff
  tests/impls/perturb_image/generic/test_water_droplet_perturber.py
  tests/impls/perturb_image/generic/utils/__init__.py
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_ccw_sort.tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.2-0].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.2-1].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.5-0].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.5-1].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.7-0].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.7-1].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[100-0.8-0.2-0].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[100-0.8-0.2-50].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[5-0.8-0.2-0].tiff
  tests/impls/perturb_image/generic/utils/__snapshots__/test_water_droplet_perturber_utils/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[5-0.8-0.2-50].tiff
  tests/impls/perturb_image/generic/utils/test_water_droplet_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Remove TypedDict type ignores leftover from mypy
  src/nrtk/interop/maite/interop/generic.py
  src/nrtk/interop/maite/interop/image_classification/augmentation.py
  src/nrtk/interop/maite/interop/object_detection/augmentation.py
  src/nrtk/interop/maite/interop/object_detection/dataset.py
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
Due: black, ruff, mypy, flake8

Update version number to 0.22.0
  docs/release_notes.rst
  docs/release_notes/v0.22.0.rst
  pyproject.toml
Due: sphinx-lint

Add release notes summary
  docs/release_notes/v0.22.0.rst
Due: sphinx-lint

Add import guards for maite and notebooks extras
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release.rst
  pyproject.toml
  src/nrtk/interop/maite/interop/generic.py
  src/nrtk/interop/maite/interop/image_classification/augmentation.py
  src/nrtk/interop/maite/interop/image_classification/dataset.py
  src/nrtk/interop/maite/interop/object_detection/augmentation.py
  src/nrtk/interop/maite/interop/object_detection/dataset.py
  src/nrtk/interop/maite/interop/object_detection/utils.py
  src/nrtk/interop/maite/utils/nrtk_perturber.py
  src/nrtk/utils/_exceptions.py
  tests/examples/test_notebook_utils.py
  tests/examples/test_notebooks.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
  tests/interop/maite/api/test_app.py
  tests/interop/maite/interop/image_classification/test_augmentation.py
  tests/interop/maite/interop/image_classification/test_dataset.py
  tests/interop/maite/interop/object_detection/test_augmentation.py
  tests/interop/maite/interop/object_detection/test_dataset.py
  tests/interop/maite/interop/object_detection/test_utils.py
  tests/interop/maite/interop/test_generic.py
  tests/interop/maite/utils/test_nrtk_perturber_cli.py
  tests/interop/maite/utils/test_nrtk_perturber_pybsm.py
Due: black, ruff, mypy, flake8, sphinx-lint

Address setuptools vulnerability
  poetry.lock
  pyproject.toml
Due: none

Exposed LinSpaceFactory endpoint and made it consistent with numpy.linspace
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image_factory/generic/linspace_step.py
  tests/impls/perturb_image_factory/generic/test_linspace_step.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added a perturber dependency table
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add missing 'Open in Colab' button
  docs/examples/maite/jatic-perturbations-saliency.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/pybsm/pybsm_test.ipynb
  docs/examples/simple_pybsm_generator.ipynb
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix broken urls in docs
  docs/examples/albumentations_perturber.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Improved GitHub-based installation instructions
  README.md
  docs/release_notes/pending_release.rst
Due: sphinx-lint

added general dummyperturber
  docs/release_notes/pending_release.rst
  tests/impls/perturb_image_factory/generic/__snapshots__/test_one_step.ambr
  tests/impls/perturb_image_factory/generic/test_linspace_step.py
  tests/impls/perturb_image_factory/generic/test_one_step.py
  tests/impls/perturb_image_factory/generic/test_step.py
  tests/test_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Use context handlers for test_coco_scorer
  docs/release_notes/pending_release.rst
  tests/impls/score_detections/test_coco_scorer.py
Due: black, ruff, mypy, flake8, sphinx-lint

Ran the pre-commit hooks
  .gitlab-ci/.gitlab-container.yml
  Dockerfile
  README.md
  docs/examples/README.md
  tests/interop/maite/data/nrtk_empty_config.json
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
