Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

Remove cv2 from water droplet
  docs/installation.rst
  docs/release_notes/pending_release/remove-opencv-from-water-droplet.rst
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
  src/nrtk/utils/_exceptions.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add python 3.13 support
  .gitlab-ci/.gitlab-test.yml
  docs/examples/coco_scorer.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/release_notes/pending_release/add-py313.rst
  poetry.lock
  pyproject.toml
  tests/impls/score_detections/test_coco_scorer.py
Due: black, ruff, mypy, flake8, sphinx-lint

Remove python version override
  .gitlab-ci/.gitlab-test.yml
Due: none

Revamp homepage to add a QuickStart Hub
  docs/_static/css/custom.css
  docs/conf.py
  docs/examples/perturbers.ipynb
  docs/index.rst
  docs/installation.rst
  docs/maite/jatic_interoperability.rst
  docs/quickstart.rst
  docs/release_notes/pending_release/578-create-quickhub-docs.rst
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, flake8, sphinx-lint

adding base pybsm perturber class and one implementation
  docs/release_notes/pending_release/pybsm-perturber-improvements.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/interop/maite/api/test_app.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.26.0
  docs/release_notes/v0.26.0.rst
  pyproject.toml
Due: sphinx-lint

Clear release notes fragments
  docs/release_notes/pending_release/536-fix-broken-links.rst
  docs/release_notes/pending_release/538-rename-linspace.rst
  docs/release_notes/pending_release/540-remote-xaitk-jatic-from-deps.rst
  docs/release_notes/pending_release/546-jitter-otf-te-guide.rst
  docs/release_notes/pending_release/566-additional-params-kwargs.rst
  docs/release_notes/pending_release/578-create-quickhub-docs.rst
  docs/release_notes/pending_release/add-__all__-to-modules.rst
  docs/release_notes/pending_release/add-nrtk-xaitk-od-notebook.rst
  docs/release_notes/pending_release/add-psnr-test-util.rst
  docs/release_notes/pending_release/add-py313.rst
  docs/release_notes/pending_release/add-random-scale-perturber.rst
  docs/release_notes/pending_release/diffusion-pipeline-loader-fix.rst
  docs/release_notes/pending_release/fix-water-droplet-utils-tests.rst
  docs/release_notes/pending_release/pending_update.rst
  docs/release_notes/pending_release/precommit-hook-update.rst
  docs/release_notes/pending_release/pybsm-perturber-improvements.rst
  docs/release_notes/pending_release/pybsm-sensor-bug-fix.rst
  docs/release_notes/pending_release/remove-opencv-from-water-droplet.rst
  docs/release_notes/pending_release/remove-water-droplet-utils.rst
  docs/release_notes/pending_release/replace-opencv.rst
  docs/release_notes/pending_release/syrupy-comparator-improvements.rst
  docs/release_notes/pending_release/update-perturbers-to-use-psnr.rst
Due: sphinx-lint

Updated release notes
  docs/release_notes.rst
  docs/release_notes/v0.26.0.rst
Due: sphinx-lint

Add --no-verify to update_release_notes.sh
  scripts/update_release_notes.sh
Due: none

adding ssim pytest fixture
  docs/release_notes/pending_release/574-adding-ssim-pytest-fixture.rst
  tests/conftest.py
  tests/impls/perturb_image/generic/PIL/test_enhance.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Change erroneous != to == in bbox tests
  docs/release_notes/pending_release/bbox-perturber-assertions-neq.rst
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
  tests/impls/perturb_image/generic/test_random_translation_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Created multivariate factory from _PybsmPerturbImageFactory
  docs/implementations.rst
  docs/release_notes/pending_release/multivariate_factory.rst
  pyproject.toml
  src/nrtk/impls/perturb_image_factory/generic/__init__.py
  src/nrtk/impls/perturb_image_factory/generic/multivariate.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  tests/impls/perturb_image_factory/generic/test_multivariate.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update risk factor table to be interactive
  docs/_static/css/custom.css
  docs/_static/javascript/custom.js
  docs/conf.py
  docs/release_notes/pending_release/interactive-risk-matrix.rst
  docs/risk_factors.rst
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, flake8, sphinx-lint

Add pybsm_default_config to How To docs
  docs/index.rst
  docs/release_notes/pending_release/add-pybsm-default-config.rst
Due: sphinx-lint

Added input requirements page
  docs/index.rst
  docs/quickstart.rst
  docs/release_notes/pending_release/add_input_requirements_page.rst
  docs/user_input_requirements.rst
Due: sphinx-lint

Minor tweeks to NOP perturber
  docs/release_notes/pending_release/minor-tweak-to-nop-perturber.rst
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  tests/interop/maite/augmentations/test_image_classification.py
  tests/interop/maite/augmentations/test_object_detection.py
Due: black, ruff, mypy, flake8, sphinx-lint

Renamed step to num in linspace factory
  docs/release_notes/pending_release/rename-linspace-step-to-num.rst
  src/nrtk/impls/perturb_image_factory/generic/linspace.py
  tests/data/nrtk_bad_linspace_config.json
  tests/data/nrtk_noise_config.json
  tests/impls/perturb_image_factory/generic/test_linspace.py
Due: black, ruff, mypy, flake8, sphinx-lint

Remove obsolete documentation pages
  docs/examples/nrtk_tutorial.ipynb
  docs/interoperability.rst
  docs/maite/testing_and_eval_guides.rst
  docs/miscellaneous.rst
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release/508-obe-doc-pages.rst
Due: sphinx-lint

Fixed an issue with theta in one step factory
  docs/examples/simple_generic_generator.ipynb
  docs/release_notes/pending_release/fix-onestep-factory-float-values.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image_factory/generic/one_step.py
  src/nrtk/impls/perturb_image_factory/generic/step.py
  tests/data/nrtk_brightness_config.json
  tests/impls/perturb_image_factory/generic/__snapshots__/test_one_step.ambr
  tests/impls/perturb_image_factory/generic/test_one_step.py
  tests/impls/perturb_image_factory/generic/test_step.py
  tests/interop/maite/data/nrtk_blur_config.json
  tests/interop/maite/utils/test_nrtk_perturber_opencv.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update nrtk to use smqtk-core>=0.21.0
  docs/release_notes/pending_release/599-bump-smqtk-core-dep-pin.rst
  poetry.lock
  pyproject.toml
  src/nrtk/interfaces/gen_blackbox_response.py
  src/nrtk/interfaces/image_metric.py
  src/nrtk/interfaces/perturb_image.py
  src/nrtk/interfaces/perturb_image_factory.py
  src/nrtk/interfaces/score_classifications.py
  src/nrtk/interfaces/score_detections.py
Due: black, ruff, mypy, flake8, sphinx-lint

Exposed sensor and scenario parameters as kwargs in pybsm perturbers
  docs/release_notes/pending_release/pybsm-kwargs-support.rst
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add clip parameter to skimage perturbers
  docs/release_notes/pending_release/expose-clip-skimage.rst
  src/nrtk/impls/perturb_image/generic/_skimage/random_noise.py
  tests/impls/perturb_image/generic/_skimage/test_random_noise.py
Due: black, ruff, mypy, flake8, sphinx-lint

Expose D and eta for circular aperture OTF
  docs/examples/otf_visualization.ipynb
  docs/release_notes/pending_release/expose-D-and-eta.rst
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_otf_perturber.py
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-None-None-None-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-None-None-None-None-None-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-None-None-None-None-None-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-None-None-None-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-mtf_wavelengths5-mtf_weights5-0.003-0.0-True-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-mtf_wavelengths5-mtf_weights5-True-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-mtf_wavelengths7-mtf_weights7-0.003-0.0-True-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[False-mtf_wavelengths7-mtf_weights7-True-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-None-None-None-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-None-None-None-None-None-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-None-None-None-None-None-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-None-None-None-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-mtf_wavelengths4-mtf_weights4-0.275-0.4-False-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-mtf_wavelengths4-mtf_weights4-False-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-mtf_wavelengths6-mtf_weights6-0.275-0.4-False-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-mtf_wavelengths6-mtf_weights6-False-False].tiff
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Reformated the v0.23.0 release notes
  docs/release_notes/v0.23.0.rst
Due: sphinx-lint

Added a new haze module template to the operational risks page
  docs/images/operational_risk_modules/haze_heavy.png
  docs/images/operational_risk_modules/haze_light.png
  docs/images/operational_risk_modules/haze_medium.png
  docs/operational_risk_modules/haze.rst
  docs/release_notes/pending_release/623-add-haze-module-template.rst
  docs/risk_factors.rst
Due: sphinx-lint

Refine Haze Module risk factor template
  docs/_static/javascript/custom.js
  docs/operational_risk_modules/haze.rst
  docs/risk_factors.rst
Due: sphinx-lint

PyData sphinx theme initial setup
  docs/_static/css/custom.css
  docs/_static/javascript/custom.js
  docs/_templates/sidebar-nav-bs.html
  docs/conf.py
  docs/readthedocs-reqs.txt
  docs/release_notes/pending_release/645-pydata-sphinx-theme-transition.rst
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, flake8, sphinx-lint

Added version switcher, reorganized icon links and removed default searchbar
  docs/_static/css/custom.css
  docs/_static/switcher.json
  docs/conf.py
Due: black, ruff, mypy, flake8

Remove pybsm factory, sensor, and scenario classes
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/otf_visualization.ipynb
  docs/examples/pybsm/data/uav_default_config_nrtk.json
  docs/examples/pybsm/pybsm_default_config.ipynb
  docs/examples/pybsm/pybsm_test.ipynb
  docs/examples/simple_pybsm_generator.ipynb
  docs/installation.rst
  docs/release_notes/pending_release/remove-pybsm-classes.rst
  pyproject.toml
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/impls/perturb/optical/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb/optical/defocus_otf_perturber.py
  src/nrtk/impls/perturb/optical/detector_otf_perturber.py
  src/nrtk/impls/perturb/optical/jitter_otf_perturber.py
  src/nrtk/impls/perturb/optical/pybsm_otf_perturber.py
  src/nrtk/impls/perturb/optical/pybsm_perturber.py
  src/nrtk/impls/perturb/optical/turbulence_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image_factory/__init__.py
  src/nrtk/impls/perturb_image_factory/generic/multivariate.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  src/nrtk/impls/utils/utils.py
  tests/examples/test_notebooks.py
  tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  tests/impls/image_metric/test_niirs_image_metric.py
  tests/impls/perturb/optical/test_circular_aperture_otf_perturber.py
  tests/impls/perturb/optical/test_defocus_otf_perturber.py
  tests/impls/perturb/optical/test_detector_otf_perturber.py
  tests/impls/perturb/optical/test_jitter_otf_perturber.py
  tests/impls/perturb/optical/test_pybsm_perturber.py
  tests/impls/perturb/optical/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image_factory/generic/test_multivariate.py
  tests/impls/perturb_image_factory/pybsm/__init__.py
  tests/impls/perturb_image_factory/pybsm/test_pybsm.py
  tests/impls/test_pybsm_utils.py
  tests/interop/maite/api/test_app.py
  tests/interop/maite/api/test_conversion_funcs.py
  tests/interop/maite/data/nrtk_pybsm_config.json
  tests/interop/maite/utils/test_nrtk_perturber_pybsm.py
Due: black, ruff, mypy, flake8, sphinx-lint

Replace albumentations dependency with nrtk-albumentations
  docs/examples/albumentations_perturber.ipynb
  docs/installation.rst
  docs/release_notes/pending_release/655-nrtk-albumentations.rst
  poetry.lock
  pyproject.toml
  src/nrtk/utils/_extras.yml
  tests/impls/perturb/geometric/__snapshots__/test_random_rotation_perturber/TestRandomRotationPerturber.test_regression.tiff
  tests/impls/perturb/geometric/__snapshots__/test_random_scale_perturber/TestRandomScalePerturber.test_regression.tiff
  tests/impls/perturb/wrapper/__snapshots__/test_albumentations_perturber/TestAlbumentationsPerturber.test_regression.tiff
Due: sphinx-lint

Move devel-jatic CI to NRTK
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-container.yml
  .gitlab-ci/.gitlab-docs.yml
  .gitlab-ci/.gitlab-mirror.yml
  .gitlab-ci/.gitlab-publish.yml
  .gitlab-ci/.gitlab-quality.yml
  .gitlab-ci/.gitlab-security.yml
  .gitlab-ci/.gitlab-shared.yml
  .gitlab-ci/.gitlab-test.yml
  .gitlab-ci/pipelines/.gitlab-compliance.yml
  .gitlab-ci/pipelines/.gitlab-container.yml
  docs/release_notes/pending_release/split-devel-jatic-ci.rst
Due: sphinx-lint

Add vcrm job to a new CI stage
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-vcrm.yml
Due: none

setting all perturbers to be reproducible by default
  docs/release_notes/pending_release/643-consistent-default-seed.rst
  src/nrtk/impls/perturb/environment/water_droplet_perturber.py
  src/nrtk/impls/perturb/generative/diffusion_perturber.py
  src/nrtk/impls/perturb/geometric/random_crop_perturber.py
  src/nrtk/impls/perturb/geometric/random_rotation_perturber.py
  src/nrtk/impls/perturb/geometric/random_scale_perturber.py
  src/nrtk/impls/perturb/geometric/random_translation_perturber.py
  src/nrtk/impls/perturb/optical/pybsm_perturber.py
  src/nrtk/impls/perturb/photometric/_impl/noise.py
  tests/impls/perturb/environment/test_water_droplet_perturber.py
  tests/impls/perturb/generative/test_diffusion_perturber.py
  tests/impls/perturb/geometric/test_random_crop_perturber.py
  tests/impls/perturb/geometric/test_random_rotation_perturber.py
  tests/impls/perturb/geometric/test_random_scale_perturber.py
  tests/impls/perturb/geometric/test_random_translation_perturber.py
  tests/impls/perturb/optical/test_pybsm_perturber.py
  tests/impls/perturb/photometric/test_noise.py
Due: black, ruff, mypy, flake8, sphinx-lint

Change condition for altitude values, only enforce lower limit
  docs/release_notes/pending_release/remove-altitude-limit.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb/optical/pybsm_otf_perturber.py
  src/nrtk/impls/utils/scenario.py
  tests/impls/perturb/optical/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-None-None-None-None-None-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-None-None-None-None-None-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-mtf_wavelengths4-mtf_weights4-0.275-0.4-False-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_circular_aperture_otf_perturber/TestCircularApertureOTFPerturber.test_regression[True-mtf_wavelengths6-mtf_weights6-0.275-0.4-False-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_defocus_otf_perturber/TestDefocusOTFPerturber.test_regression[True-0.5-1.5-False-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_defocus_otf_perturber/TestDefocusOTFPerturber.test_regression[True-0.5-1.5-False-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-3e-06-2e-05-0.03-False-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-3e-06-2e-05-0.03-False-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-None-None-None-None-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-None-None-None-None-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_jitter_otf_perturber/TestJitterOTFPerturber.test_regression[True-0.5-0.5-False-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_jitter_otf_perturber/TestJitterOTFPerturber.test_regression[True-0.5-0.5-False-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_jitter_otf_perturber/TestJitterOTFPerturber.test_regression[True-None-None-None-False].tiff
  tests/impls/perturb/optical/__snapshots__/test_jitter_otf_perturber/TestJitterOTFPerturber.test_regression[True-None-None-None-True].tiff
  tests/impls/perturb/optical/__snapshots__/test_pybsm_perturber/TestPyBSMPerturber.test_regression.tiff
  tests/impls/perturb/optical/test_pybsm_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

updating regression tests to use psnr and ssim
  docs/release_notes/pending_release/572-update-regression-psnr-ssim.rst
  tests/impls/perturb/environment/test_water_droplet_perturber.py
  tests/impls/perturb/optical/test_circular_aperture_otf_perturber.py
  tests/impls/perturb/optical/test_defocus_otf_perturber.py
  tests/impls/perturb/photometric/test_blur.py
Due: black, ruff, mypy, flake8, sphinx-lint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
