Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

Add T&E guide for RadialDistortionPerturber
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_radial_distortion_perturber_demo.ipynb
  docs/release_notes/pending_release/331-radial-distortion-guide.rst
  docs/risk_factors.rst
  docs/testing_and_evaluation_notebooks.rst
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add missing script
  scripts/combine_release_notes.sh
Due: none

Updated roadmap
  ROADMAP.md
  docs/figures/nrtk-road-map.png
Due: none

Update packages to remove vulnerabilites
  poetry.lock
  pyproject.toml
Due: none

Add benchmark notebook
  docs/examples/benchmarking.ipynb
  docs/release_notes/pending_release/benchmark-nrtk.rst
Due: sphinx-lint

Fix RTD Sidebar rendering for Jupyter notebooks
  docs/examples/albumentations_perturber.ipynb
  docs/examples/coco_scorer.ipynb
  docs/examples/perturbers.ipynb
  docs/release_notes/pending_release/fix-rtd-sidebar.rst
Due: sphinx-lint

Add box alignment function to PerturbImage
  src/nrtk/impls/perturb_image/generic/radial_distortion_perturber.py
  src/nrtk/interfaces/perturb_image.py
  tests/interfaces/test_perturb_image.py
Due: black, ruff, mypy, flake8

Deprecate box_alignment_mode
  docs/release_notes/pending_release/feature-deprecate-box-alignment-mode.rst
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/albumentations_perturber.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/crop_perturber.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/haze_perturber.py
  src/nrtk/impls/perturb_image/generic/radial_distortion_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/generic/translation_perturber.py
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/interfaces/perturb_image.py
  tests/interop/maite/interop/image_classification/test_augmentation.py
  tests/interop/maite/interop/object_detection/test_augmentation.py
Due: black, ruff, mypy, flake8, sphinx-lint

Moved dev-only notebook to .dev/ directory
  .dev/benchmarking.ipynb
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Renamed multiple perturber implementation files to be consistent
  .dev/benchmarking.ipynb
  docs/examples/maite/daml/daml_example_notebook.ipynb
  docs/examples/maite/gradio/nrtk-gradio.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/implementations.rst
  docs/release_notes/pending_release/rename-perturb-files.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/random_crop_perturber.py
  src/nrtk/impls/perturb_image/generic/random_translation_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_perturber.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  tests/impls/perturb_image/generic/__snapshots__/test_random_crop_perturber/TestRandomCropPerturber.test_regression.tiff
  tests/impls/perturb_image/generic/__snapshots__/test_random_translation_perturber/TestRandomTranslationPerturber.test_regression[None].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_random_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit1].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_random_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit2].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_random_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit3].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_random_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit4].tiff
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
  tests/impls/perturb_image/generic/test_random_translation_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Fixed a path bug in updating release notes
  scripts/update_release_notes.sh
Due: none

Fix 'crop_size' param usage in RandomCropPerturber
  docs/release_notes/pending_release/470-fix-random-crop-perturber.rst
  src/nrtk/impls/perturb_image/generic/random_crop_perturber.py
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Addressed vulnerabilities
  poetry.lock
  pyproject.toml
Due: none

Updated perturber dependency table in installation doc
  docs/installation.rst
Due: sphinx-lint

Fixed bbox improperly updated in compose and random crop perturbers
  docs/release_notes/pending_release/475-fix-compose-and-random-crop.rst
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/random_crop_perturber.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.24.0
  docs/release_notes/v0.24.0.rst
  pyproject.toml
Due: sphinx-lint

Clear release notes fragments
  docs/release_notes/pending_release/331-radial-distortion-guide.rst
  docs/release_notes/pending_release/442-upgrade-maite.rst
  docs/release_notes/pending_release/470-fix-random-crop-perturber.rst
  docs/release_notes/pending_release/475-fix-compose-and-random-crop.rst
  docs/release_notes/pending_release/benchmark-nrtk.rst
  docs/release_notes/pending_release/feature-deprecate-box-alignment-mode.rst
  docs/release_notes/pending_release/fix-rtd-sidebar.rst
  docs/release_notes/pending_release/pending_release.rst
  docs/release_notes/pending_release/rename-perturb-files.rst
Due: sphinx-lint

Updated release notes
  docs/release_notes/v0.24.0.rst
Due: sphinx-lint

Make use of geopandas in WaterDropletPerturber
  .dev/benchmarking.ipynb
  docs/release_notes/pending_release/464-water-droplet-perturber.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add nrtk-xaitk image classification workflow example notebook
  docs/examples/nrtk_xaitk_workflow/image_classification_perturbation_saliency.ipynb
  docs/index.rst
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release/460-ic-nrtk-xaik-notebook.rst
  src/nrtk/utils/_exceptions.py
  src/nrtk/utils/interop/__init__.py
  src/nrtk/utils/interop/image_classification/__init__.py
  src/nrtk/utils/interop/image_classification/dataset.py
  src/nrtk/utils/interop/image_classification/model.py
  tests/utils/__init__.py
  tests/utils/interop/__init__.py
  tests/utils/interop/image_classification/__init__.py
  tests/utils/interop/image_classification/test_dataset.py
  tests/utils/interop/image_classification/test_model.py
Due: black, ruff, mypy, flake8, sphinx-lint

Rerun notebook with original example image
  docs/examples/nrtk_xaitk_workflow/image_classification_perturbation_saliency.ipynb
Due: none

Updated python version for RTD
  .readthedocs.yaml
Due: none

Add missing default configs to perturbers
  docs/release_notes/pending_release/default-config.rst
  src/nrtk/impls/perturb_image/generic/albumentations_perturber.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_perturber.py
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add a generic diffusion perturber
  .gitlab-ci/.gitlab-quality.yml
  .gitlab-ci/.gitlab-test.yml
  docs/installation.rst
  docs/release_notes/pending_release/diffusion-perturber.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/diffusion_perturber.py
  src/nrtk/utils/_exceptions.py
  tests/impls/perturb_image/generic/__snapshots__/test_diffusion_perturber/TestDiffusionPerturber.test_regression[add rain to the image-2.0-8.0-42].tiff
  tests/impls/perturb_image/generic/test_diffusion_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Restrict python <3.13 due to upstream NumPy compatibility
  docs/release_notes/pending_release/py-upperbound.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

pyBSM version updates
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/pybsm/pybsm_test.ipynb
  docs/examples/simple_pybsm_generator.ipynb
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/test_pybsm_utils.py
Due: black, ruff, mypy, flake8

Added implementation for RandomRotationPerturber
  docs/implementations.rst
  docs/installation.rst
  docs/release_notes/pending_release/272-random-rotation-perturber.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/random_rotation_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_random_rotation_perturber.ambr
  tests/impls/perturb_image/generic/__snapshots__/test_random_rotation_perturber/TestRandomRotationPerturber.test_regression.tiff
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
  tests/impls/perturb_image/generic/test_random_rotation_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added Affine perturbers T&E guide example notebook
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
  docs/examples/maite/nrtk_radial_distortion_perturber_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/maite/testing_and_eval_guides.rst
  docs/release_notes/pending_release/492-affine-perturbers-notebook.rst
  docs/testing_and_evaluation_notebooks.rst
  src/nrtk/impls/perturb_image/generic/random_crop_perturber.py
  tests/examples/test_notebooks.py
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added a diffusion perturber How-to notebook
  .dev/nrtk_diffusion_perturber_demo.ipynb
  .gitlab-ci/.gitlab-test.yml
  docs/examples/diffusion_perturber.ipynb
  docs/index.rst
  docs/release_notes/pending_release/diffusion-notebook.rst
  poetry.lock
  src/nrtk/impls/perturb_image/generic/diffusion_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_diffusion_perturber/TestDiffusionPerturber.test_regression[add rain to the image-2.0-8.0-42].tiff
  tests/impls/perturb_image/generic/test_diffusion_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update skimage default rng
  docs/release_notes/pending_release/update-skimage-rng-default.rst
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
Due: black, ruff, mypy, flake8, sphinx-lint

removed box_alignment everywhere
  docs/release_notes/pending_release/461-remove-box-allignment-mode.rst
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/albumentations_perturber.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/haze_perturber.py
  src/nrtk/impls/perturb_image/generic/radial_distortion_perturber.py
  src/nrtk/impls/perturb_image/generic/random_crop_perturber.py
  src/nrtk/impls/perturb_image/generic/random_translation_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/pybsm_perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/interfaces/perturb_image.py
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/interop/maite/interop/image_classification/test_augmentation.py
  tests/interop/maite/interop/object_detection/test_augmentation.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add fuzzy compare for TIFF snapshots
  docs/release_notes/pending_release/504-fuzzy-tiff-compare.rst
  tests/impls/perturb_image/generic/PIL/test_enhance.py
  tests/impls/perturb_image/generic/cv2/test_blur.py
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
  tests/impls/perturb_image/generic/test_haze_perturber.py
  tests/impls/perturb_image/generic/test_radial_distortion_perturber.py
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
  tests/impls/perturb_image/generic/test_random_rotation_perturber.py
  tests/impls/perturb_image/generic/test_random_translation_perturber.py
  tests/impls/perturb_image/generic/test_water_droplet_perturber.py
  tests/impls/perturb_image/generic/utils/test_water_droplet_perturber_utils.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
  tests/impls/perturb_image_factory/generic/test_step.py
  tests/impls/test_pybsm_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Vuln fixes for poetry.lock
  poetry.lock
Due: none

Updated the contacts in the README
  README.md
Due: none

Switched gpu runner over to test runner
  .gitlab-ci/.gitlab-test.yml
Due: none

Update test image filepaths
  docs/release_notes/pending_release/update-input-img-paths.rst
  tests/impls/__init__.py
  tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  tests/impls/perturb_image/generic/PIL/test_enhance.py
  tests/impls/perturb_image/generic/cv2/test_blur.py
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
  tests/impls/perturb_image/generic/test_haze_perturber.py
  tests/impls/perturb_image/generic/test_radial_distortion_perturber.py
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
  tests/impls/perturb_image/generic/test_random_rotation_perturber.py
  tests/impls/perturb_image/generic/test_random_translation_perturber.py
  tests/impls/perturb_image/generic/test_water_droplet_perturber.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image_factory/generic/test_linspace_step.py
  tests/impls/perturb_image_factory/generic/test_one_step.py
  tests/impls/perturb_image_factory/generic/test_step.py
Due: black, ruff, mypy, flake8, sphinx-lint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
