Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

Add missing tags
  README.md
  docs/index.rst
  docs/installation.rst
Due: sphinx-lint

Refactored parallel matrix approach
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-test.yml
Due: none

Added container building overrides from devel-jatic
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-container.yml
  Dockerfile
Due: none

Auto Merge Request - ac654a85
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/installation.rst
Due: sphinx-lint

Add release notes
  .gitignore
  .pre-commit-config.yaml
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fixed a couple of pipeline bugs
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-container.yml
  .gitlab-ci/.gitlab-quality.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Add extras documentation
  .gitlab-ci/.gitlab-docs.yml
  README.md
  docs/index.rst
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update explanation section of docs
  docs/index.rst
  docs/introduction.rst
  docs/nrtk_explanation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix broken link
  docs/index.rst
  docs/nrtk_tutorial.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Refactored aukus container build to trigger pipeline
  .gitlab-ci/.gitlab-container.yml
Due: none

Auto Merge Request - aca7e19b
  .gitignore
  .pre-commit-config.yaml
  README.md
Due: none

Add release notes
  .gitignore
  README.md
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix RTD build and remove gitlab link
  .readthedocs.yaml
  README.md
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add nrtk_how_to_topics.rst
  docs/examples/maite/augmentations.ipynb
  docs/index.rst
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add glossary section
  docs/glossary.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Bug fix for RTD config
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Due: none

Convert the TestBrightnessPerturber test to syrupy
  tests/impls/perturb_image/generic/PIL/__snapshots__/test_enhance/TestBrightnessPerturber.test_consistency.tiff
  tests/impls/perturb_image/generic/PIL/test_enhance.py
Due: black, ruff, mypy, flake8

Add AlbumentationsPerturber
  .gitlab-ci/.gitlab-test.yml
  docs/examples/albumentations_perturber.ipynb
  docs/implementations.rst
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/albumentations/albumentations_perturber.py
  src/nrtk/utils/_exceptions.py
  tests/examples/test_notebooks.py
  tests/impls/perturb_image/albumentations/__init__.py
  tests/impls/perturb_image/albumentations/test_albumentations_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update AlbumentationsPerturber tests with syrupy
  docs/examples/albumentations_perturber.ipynb
  docs/nrtk_how_to_topics.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/albumentations/albumentations_perturber.py
  tests/impls/perturb_image/albumentations/__snapshots__/test_albumentations_perturber.ambr
  tests/impls/perturb_image/albumentations/__snapshots__/test_albumentations_perturber/TestAlbumentationsPerturber.test_regression.tiff
  tests/impls/perturb_image/albumentations/test_albumentations_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Allow failure for core tests temporarily
  .gitlab-ci/.gitlab-test.yml
  poetry.lock
  pyproject.toml
Due: none

Add albumentations notebook to how-to docs
  docs/nrtk_how_to_topics.rst
Due: sphinx-lint

Remove maite test dependency from pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Clarify argument names of PybsmSensor in test_pybsm_utils
  tests/impls/test_pybsm_utils.py
Due: black, ruff, mypy, flake8

Add roadmap
  ROADMAP.md
  docs/figures/nrtk-road-map.png
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Clarify T&E guide documentation
  docs/nrtk_how_to_topics.rst
Due: sphinx-lint

Fix bbox return in AlbumentationsPerturber
  src/nrtk/impls/perturb_image/albumentations/albumentations_perturber.py
  tests/impls/perturb_image/albumentations/__snapshots__/test_albumentations_perturber.ambr
  tests/impls/perturb_image/albumentations/test_albumentations_perturber.py
Due: black, ruff, mypy, flake8

Added in containers documentation from nrtk-jatic
  docs/containers.rst
  docs/containers/aukus.rst
  docs/index.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add guide for Lens Flare perturber using Albumentations
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/installation.rst
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release.rst
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Updated CI/CD containers extends
  .gitlab-ci/.gitlab-container.yml
Due: none

Add notebook titles and fix missing extras for notebooks CI
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fixed h11 security vulnerability
  poetry.lock
Due: none

Bumped smqtk-detection>=0.22.0
  poetry.lock
  pyproject.toml
Due: none

Fixed jinja2 vulnerability
  poetry.lock
Due: none

Fix bad notebook
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
Due: none

Fix unexpected error with translation_perturber
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/generic/translation_perturber.py
  tests/impls/perturb_image/generic/test_translation_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Move albumentations_perturber to generic directory
  docs/examples/albumentations_perturber.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/implementations.rst
  docs/installation.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/albumentations_perturber.py
  tests/impls/perturb_image/albumentations/__init__.py
  tests/impls/perturb_image/generic/__snapshots__/test_albumentations_perturber.ambr
  tests/impls/perturb_image/generic/__snapshots__/test_albumentations_perturber/TestAlbumentationsPerturber.test_regression.tiff
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add poetry venv warning
  README.md
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Convert the cv2 test_consistencyk regression tests to Syrupy
  tests/impls/perturb_image/generic/cv2/test_blur.py
Due: black, ruff, mypy, flake8

Remove deprecated constants
  tests/impls/perturb_image/generic/cv2/test_blur.py
Due: black, ruff, mypy, flake8

Update release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
