Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, pyright

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/reference/api/_implementations -i docs/interoperability/maite/_implementations -i .dev/ docs
  language: system

pyright:
  name: pyright
  require_serial: true
  language: system
  entry: poetry run pyright

Add environment variables for CLI input arguments
  Dockerfile
  docs/containers/aukus.rst
  docs/release_notes/pending_release/609-610-613-docker-env-args.rst
  src/nrtk/interop/maite/bin/nrtk_perturber_cli.py
  tests/interop/maite/bin/test_nrtk_perturber_cli.py
Due: sphinx-lint, pyright

Add negative indexing support for PerturbImageFactory
  docs/release_notes/pending_release/724-allow-negative-indexing-for-factories.rst
  src/nrtk/impls/perturb_image_factory/_perturber_multivariate_factory.py
  src/nrtk/interfaces/perturb_image_factory.py
  tests/fakes.py
  tests/impls/perturb_image_factory/test_perturber_linspace_factory.py
  tests/impls/perturb_image_factory/test_perturber_multivariate_factory.py
  tests/impls/perturb_image_factory/test_perturber_one_step_factory.py
  tests/impls/perturb_image_factory/test_perturber_step_factory.py
  tests/interfaces/test_perturb_image_factory.py
Due: sphinx-lint, pyright

several small updates to docs
  docs/examples/pybsm_default_config.ipynb
  docs/getting_started/installation.rst
  docs/reference/api/implementations.rst
  docs/release_notes/pending_release/659-710-711-718-several-docs-tweaks.rst
  src/nrtk/impls/perturb_image_factory/__init__.py
  src/nrtk/utils/__init__.py
  src/nrtk/utils/_extras.py
  src/nrtk/utils/_pybsm.py
  tests/interop/maite/data/nrtk_blur_config.json
  tests/interop/maite/data/nrtk_pybsm_config.json
Due: sphinx-lint, pyright

Exposed classes in docs instead of modules
  docs/reference/api/implementations.rst
  docs/release_notes/pending_release/659-710-711-718-705-several-docs-tweaks.rst
  docs/release_notes/pending_release/659-710-711-718-several-docs-tweaks.rst
  poetry.lock
  pyproject.toml
  src/nrtk/utils/_extras.yml
Due: sphinx-lint

Optimize SSIMImageSnapshotExtension._convolve2d()
  tests/conftest.py
Due: pyright

Added three additional risk modules
  docs/explanations/operational_risk_modules/extreme_illumination.rst
  docs/explanations/operational_risk_modules/high_frequency_vibration.rst
  docs/explanations/operational_risk_modules/sensor_noise_resolution.rst
  docs/explanations/risk_factors.rst
  docs/images/operational_risk_modules/brightness_high_heavy.png
  docs/images/operational_risk_modules/brightness_high_light.png
  docs/images/operational_risk_modules/brightness_high_medium.png
  docs/images/operational_risk_modules/brightness_low_heavy.png
  docs/images/operational_risk_modules/brightness_low_light.png
  docs/images/operational_risk_modules/brightness_low_medium.png
  docs/images/operational_risk_modules/jitter_heavy.png
  docs/images/operational_risk_modules/jitter_light.png
  docs/images/operational_risk_modules/jitter_medium.png
  docs/images/operational_risk_modules/sensor_dark_current_heavy.png
  docs/images/operational_risk_modules/sensor_dark_current_light.png
  docs/images/operational_risk_modules/sensor_dark_current_medium.png
  docs/images/operational_risk_modules/sensor_read_noise_heavy.png
  docs/images/operational_risk_modules/sensor_read_noise_light.png
  docs/images/operational_risk_modules/sensor_read_noise_medium.png
  docs/images/operational_risk_modules/sensor_resolution_heavy.png
  docs/images/operational_risk_modules/sensor_resolution_light.png
  docs/images/operational_risk_modules/sensor_resolution_medium.png
  docs/images/risks/sensor_dark_current_sample.png
  docs/release_notes/pending_release/720-721-722-perturber-modules.rst
Due: sphinx-lint

Move perturber_kwargs to interface
  docs/release_notes/pending_release/709-expand-perturber-kwargs.rst
  src/nrtk/impls/perturb_image_factory/_perturber_linspace_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_multivariate_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_one_step_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_step_factory.py
  src/nrtk/interfaces/perturb_image_factory.py
  tests/fakes.py
  tests/impls/perturb_image_factory/perturber_factory_mixin.py
  tests/impls/perturb_image_factory/test_perturber_multivariate_factory.py
Due: sphinx-lint, pyright

Rename 'additional_params' to 'kwargs'
  .dev/benchmarking.ipynb
  docs/examples/maite/jatic-perturbations-saliency.ipynb
  docs/release_notes/pending_release/725-rename-additional-params-to-kwargs.rst
  src/nrtk/impls/perturb_image/environment/haze_perturber.py
  src/nrtk/impls/perturb_image/environment/water_droplet_perturber.py
  src/nrtk/impls/perturb_image/generative/diffusion_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_translation_perturber.py
  src/nrtk/impls/perturb_image/optical/pybsm_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/radial_distortion_perturber.py
  src/nrtk/impls/perturb_image/photometric/_impl/blur.py
  src/nrtk/impls/perturb_image/photometric/_impl/enhance.py
  src/nrtk/impls/perturb_image/photometric/_impl/noise.py
  src/nrtk/impls/perturb_image/wrapper/albumentations_perturber.py
  src/nrtk/impls/perturb_image/wrapper/compose_perturber.py
  src/nrtk/interfaces/perturb_image.py
  src/nrtk/utils/_nop_perturber.py
  tests/impls/perturb_image/geometric/test_random_translation_perturber.py
  tests/impls/perturb_image/optical/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/optical/test_defocus_otf_perturber.py
  tests/impls/perturb_image/optical/test_detector_otf_perturber.py
  tests/impls/perturb_image/optical/test_jitter_otf_perturber.py
  tests/impls/perturb_image/optical/test_pybsm_perturber.py
  tests/impls/perturb_image/optical/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
  tests/impls/perturb_image/wrapper/test_compose_perturber.py
Due: sphinx-lint, pyright

fixed raises docstrings
  docs/release_notes/pending_release/726-fix-all-raises-docstrings.rst
  src/nrtk/entrypoints/_impl/nrtk_perturber.py
  src/nrtk/entrypoints/_impl/nrtk_perturber_cli.py
  src/nrtk/impls/perturb_image/generative/diffusion_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_rotation_perturber.py
  src/nrtk/impls/perturb_image/optical/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/pybsm_otf_perturber.py
  src/nrtk/impls/perturb_image/optical/pybsm_perturber.py
  src/nrtk/impls/perturb_image/optical/radial_distortion_perturber.py
  src/nrtk/impls/perturb_image/optical/turbulence_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/wrapper/albumentations_perturber.py
  src/nrtk/impls/perturb_image_factory/_perturber_linspace_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_multivariate_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_one_step_factory.py
  src/nrtk/impls/perturb_image_factory/_perturber_step_factory.py
  src/nrtk/interfaces/perturb_image_factory.py
  src/nrtk/interop/_maite/api/app.py
  src/nrtk/interop/_maite/api/aukus_app.py
  src/nrtk/interop/_maite/api/converters.py
  src/nrtk/interop/_maite/datasets/object_detection.py
Due: sphinx-lint, pyright

Updated README contact information
  README.md
  docs/release_notes/pending_release/736-update-contacts-readme.rst
Due: sphinx-lint

Update dockerfile for 607 and 608
  Dockerfile
  docs/containers/aukus.rst
  docs/release_notes/pending_release/607-608-dockerfile-updates.rst
Due: sphinx-lint

Updated operational risk matrix
  docs/explanations/risk_factors.rst
  docs/release_notes/pending_release/602-update-risk-matrix.rst
Due: sphinx-lint

Added safe plugin discovery
  docs/release_notes/pending_release/753-safe-plugin-discovery.rst
  src/nrtk/interfaces/_plugfigurable.py
  src/nrtk/interfaces/perturb_image.py
  src/nrtk/interfaces/perturb_image_factory.py
  tests/interfaces/test_plugfigurable.py
Due: sphinx-lint, pyright

Split CI test jobs into separate per-Python-version and per-directory jobs
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release/647-import-guards-optional-deps.rst
  tests/examples/test_notebooks.py
Due: sphinx-lint, pyright

Updated import guards for pillow perturbers
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release/647-import-guards-optional-deps.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/photometric/_enhance/__init__.py
  src/nrtk/impls/perturb_image/photometric/_enhance/brightness_perturber.py
  src/nrtk/impls/perturb_image/photometric/_enhance/color_perturber.py
  src/nrtk/impls/perturb_image/photometric/_enhance/contrast_perturber.py
  src/nrtk/impls/perturb_image/photometric/_enhance/enhance_perturber_mixin.py
  src/nrtk/impls/perturb_image/photometric/_enhance/sharpness_perturber.py
  src/nrtk/impls/perturb_image/photometric/_impl/enhance.py
  src/nrtk/impls/perturb_image/photometric/enhance.py
  tests/impls/perturb_image/photometric/enhance/__init__.py
  tests/impls/perturb_image/photometric/enhance/__snapshots__/test_brightness_perturber/TestBrightnessPerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/enhance/__snapshots__/test_color_perturber/TestColorPerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/enhance/__snapshots__/test_contrast_perturber/TestContrastPerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/enhance/__snapshots__/test_sharpness_perturber/TestSharpnessPerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/enhance/conftest.py
  tests/impls/perturb_image/photometric/enhance/test_brightness_perturber.py
  tests/impls/perturb_image/photometric/enhance/test_color_perturber.py
  tests/impls/perturb_image/photometric/enhance/test_contrast_perturber.py
  tests/impls/perturb_image/photometric/enhance/test_sharpness_perturber.py
  tests/impls/perturb_image/photometric/test_enhance.py
  tests/impls/perturb_image/photometric/test_enhance_optional_deps.py
  tox.ini
Due: sphinx-lint, pyright

Updated a path to fix two imports
  .dev/benchmarking.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/getting_started/installation.rst
  docs/interoperability/maite/jatic_interoperability.rst
  docs/reference/perturber_reference/optical.rst
Due: sphinx-lint

Add skimage import guards
  .gitlab-ci/.gitlab-test.yml
  docs/examples/photometric_perturbers.ipynb
  docs/getting_started/installation.rst
  docs/release_notes/pending_release/728-skimage-guard.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/photometric/_impl/__init__.py
  src/nrtk/impls/perturb_image/photometric/_impl/noise.py
  src/nrtk/impls/perturb_image/photometric/_noise/__init__.py
  src/nrtk/impls/perturb_image/photometric/_noise/gaussian_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/noise_perturber_mixin.py
  src/nrtk/impls/perturb_image/photometric/_noise/pepper_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/salt_and_pepper_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/salt_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/speckle_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/noise.py
  src/nrtk/utils/_exceptions.py
  tests/impls/perturb_image/photometric/noise/__init__.py
  tests/impls/perturb_image/photometric/noise/__snapshots__/test_gaussian_noise_perturber/TestGaussianNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/noise/__snapshots__/test_pepper_noise_perturber/TestPepperNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/noise/__snapshots__/test_salt_and_pepper_noise_perturber/TestSaltAndPepperNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/noise/__snapshots__/test_salt_noise_perturber/TestSaltNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/noise/__snapshots__/test_speckle_noise_perturber/TestSpeckleNoisePerturber.test_consistency.tiff
  tests/impls/perturb_image/photometric/noise/conftest.py
  tests/impls/perturb_image/photometric/noise/noise_perturber_test_utils.py
  tests/impls/perturb_image/photometric/noise/test_gaussian_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_pepper_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_salt_and_pepper_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_salt_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_speckle_noise_perturber.py
  tests/impls/perturb_image/photometric/test_noise.py
  tests/impls/perturb_image/photometric/test_noise_optional_deps.py
  tox.ini
Due: sphinx-lint, pyright

Updated import guard for diffusion perturber
  .dev/nrtk_diffusion_perturber_demo.ipynb
  .gitlab-ci/.gitlab-test.yml
  docs/examples/generative_perturbers.ipynb
  docs/getting_started/installation.rst
  docs/reference/api/implementations.rst
  docs/reference/perturber_reference/environment.rst
  docs/reference/perturber_reference/generative.rst
  docs/reference/perturber_reference/geometric.rst
  docs/reference/perturber_reference/optical.rst
  docs/reference/perturber_reference/photometric.rst
  docs/reference/perturber_reference/wrapper.rst
  docs/release_notes/pending_release/647-import-guards-optional-deps.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generative/__init__.py
  src/nrtk/impls/perturb_image/generative/_diffusion_perturber.py
  src/nrtk/utils/_exceptions.py
  tests/impls/perturb_image/generative/diffusion_perturber/__init__.py
  tests/impls/perturb_image/generative/diffusion_perturber/conftest.py
  tests/impls/perturb_image/generative/diffusion_perturber/test_diffusion_perturber.py
  tests/impls/perturb_image/generative/test_diffusion_perturber_optional_deps.py
  tox.ini
Due: sphinx-lint, pyright

Refactored the tox and tox:coverage CI job(s)
  .gitlab-ci/.gitlab-test.yml
  tox.ini
Due: none

Update entrypoint failure codes and --help to comply with containerization standards
  docs/containers/aukus.rst
  docs/release_notes/pending_release/616-617-entrypoint-updates.rst
  src/nrtk/entrypoints/_impl/nrtk_perturber_cli.py
  tests/entrypoints/test_nrtk_perturber_cli.py
Due: sphinx-lint, pyright

Changed which runners are used on a per-env basis
  .gitlab-ci/.gitlab-test.yml
Due: none

Refine Documentation UX flow
  docs/_static/css/custom.css
  docs/conf.py
  docs/getting_started/first_perturbation.rst
  docs/getting_started/index.rst
  docs/getting_started/installation.rst
  docs/getting_started/quickstart.rst
  docs/getting_started/where_to_go_next.rst
  docs/index.rst
  docs/tutorials/index.rst
Due: sphinx-lint, pyright

Ensure input and output boxes do not share memory
  docs/release_notes/pending_release/deepcopy-boxes.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/geometric/random_crop_perturber.py
  src/nrtk/impls/perturb_image/geometric/random_translation_perturber.py
  src/nrtk/impls/perturb_image/photometric/_impl/noise.py
  src/nrtk/impls/perturb_image/wrapper/compose_perturber.py
  src/nrtk/interfaces/perturb_image.py
  src/nrtk/utils/_extras.yml
  tests/impls/perturb_image/geometric/test_random_translation_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
  tests/impls/perturb_image/wrapper/test_compose_perturber.py
Due: sphinx-lint, pyright

Fixed mistake when merged main into dev branch
  docs/release_notes/pending_release/728-skimage-guard.rst
  docs/release_notes/pending_release/deepcopy-boxes.rst
  docs/release_notes/pending_release/tox-ci-restructure.rst
  src/nrtk/impls/perturb_image/photometric/_noise/gaussian_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/pepper_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/salt_and_pepper_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/salt_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/speckle_noise_perturber.py
  tests/entrypoints/test_nrtk_perturber_cli.py
Due: sphinx-lint, pyright

Refactored RNG approach
  docs/examples/photometric_perturbers.ipynb
  docs/release_notes/pending_release/731-732-rng-updates.rst
  src/nrtk/impls/perturb_image/_albumentations/albumentations_perturber.py
  src/nrtk/impls/perturb_image/_albumentations/random_rotation_perturber.py
  src/nrtk/impls/perturb_image/_albumentations/random_scale_perturber.py
  src/nrtk/impls/perturb_image/_base/__init__.py
  src/nrtk/impls/perturb_image/_base/_numpy_random_perturb_image.py
  src/nrtk/impls/perturb_image/_base/_torch_random_perturb_image.py
  src/nrtk/impls/perturb_image/environment/_water_droplet_perturber.py
  src/nrtk/impls/perturb_image/generative/_diffusion_perturber.py
  src/nrtk/impls/perturb_image/geometric/_random/random_crop_perturber.py
  src/nrtk/impls/perturb_image/geometric/_random/random_translation_perturber.py
  src/nrtk/impls/perturb_image/optical/_pybsm/pybsm_perturber_mixin.py
  src/nrtk/impls/perturb_image/optical/_pybsm_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/noise_perturber_mixin.py
  src/nrtk/impls/perturb_image/photometric/_noise/pepper_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/salt_and_pepper_noise_perturber.py
  src/nrtk/impls/perturb_image/photometric/_noise/salt_noise_perturber.py
  src/nrtk/interfaces/_random_perturb_image.py
  tests/impls/perturb_image/albumentations_tests/test_albumentations_perturber.py
  tests/impls/perturb_image/albumentations_tests/test_random_rotation_perturber.py
  tests/impls/perturb_image/albumentations_tests/test_random_scale_perturber.py
  tests/impls/perturb_image/environment/water_droplet_perturber/test_water_droplet_perturber.py
  tests/impls/perturb_image/generative/diffusion_perturber/test_diffusion_perturber.py
  tests/impls/perturb_image/geometric/test_random_crop_perturber.py
  tests/impls/perturb_image/geometric/test_random_translation_perturber.py
  tests/impls/perturb_image/optical/pybsm_tests/test_pybsm_perturber.py
  tests/impls/perturb_image/photometric/noise/noise_perturber_test_utils.py
  tests/impls/perturb_image/photometric/noise/test_gaussian_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_pepper_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_salt_and_pepper_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_salt_noise_perturber.py
  tests/impls/perturb_image/photometric/noise/test_speckle_noise_perturber.py
Due: sphinx-lint, pyright

Fixed broken PyPI README rendering by switching to absolute paths
  README.md
  docs/release_notes/pending_release/768-broken-readme-on-pypi.rst
Due: sphinx-lint

Fixed numerous sphinx errors and warnings
  docs/conf.py
  docs/examples/README.md
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_jitter_perturber_demo.ipynb
  docs/examples/maite/nrtk_radial_distortion_perturber_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/maite/nrtk_water_droplet_perturber_demo.ipynb
  docs/examples/optical_perturbers.ipynb
  docs/explanations/index.rst
  docs/explanations/nrtk_explanation.rst
  docs/explanations/operational_risk_modules/sensor_noise_resolution.rst
  docs/explanations/risk_factors.rst
  docs/getting_started/first_perturbation.rst
  docs/getting_started/installation.rst
  docs/getting_started/quickstart.rst
  docs/how_to_guides/index.rst
  docs/interoperability/maite/jatic_interoperability.rst
  docs/release_notes/index.rst
  docs/release_notes/pending_release/769-sphinx-errors-and-warnings.rst
  docs/validation_and_trust.rst
  src/nrtk/impls/perturb_image/generative/_diffusion_perturber.py
  src/nrtk/impls/perturb_image/optical/_pybsm/circular_aperture_perturber.py
  src/nrtk/impls/perturb_image/optical/radial_distortion_perturber.py
Due: sphinx-lint, pyright

Fixed nightly CI pipeline to preserve coverage badge
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-container.yml
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release/771-fixed-nightly-build.rst
Due: sphinx-lint

Fixed release notes scripts to correctly combine fragments
  docs/release_notes/pending_release/770-release-notes-script.rst
  docs/release_notes/v0.26.0.rst
  docs/release_notes/v0.27.0.rst
  scripts/combine_release_notes.sh
  scripts/update_release_notes.sh
Due: sphinx-lint

Fixed notebook and tox config prevented GPU notebook testing with CUDA
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release/778-tox-overly-restricts-gpu.rst
  tox.ini
Due: sphinx-lint

Fixed torch set seed bug
  docs/release_notes/pending_release/779-fix-torch-set-seed.rst
  src/nrtk/impls/perturb_image/_base/_torch_random_perturb_image.py
  src/nrtk/impls/perturb_image/generative/_diffusion_perturber.py
  tests/impls/perturb_image/generative/diffusion_perturber/test_diffusion_perturber.py
Due: sphinx-lint, pyright

Fixed cuda device selection bug
  docs/release_notes/pending_release/780-torch-rng-limits-cuda-device.rst
  src/nrtk/impls/perturb_image/_base/_torch_random_perturb_image.py
  tests/impls/perturb_image/generative/diffusion_perturber/test_diffusion_perturber.py
Due: sphinx-lint, pyright

Path conditions:
  sphinx-lint: any of: \.rst$
  pyright: any of: \.py$
