Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: sphinx-lint, pyright

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/reference/api/_implementations -i docs/interoperability/maite/_implementations -i .dev/ docs
  language: system

pyright:
  name: pyright
  require_serial: true
  language: system
  entry: poetry run pyright

Fixed a bug when slant_range was greater than altitude
  docs/release_notes/pending_release/781-turbulence-aperture-check.rst
  src/nrtk/impls/perturb_image/optical/_pybsm/turbulence_aperture_perturber.py
  tests/impls/perturb_image/optical/pybsm_tests/test_turbulence_aperture_perturber.py
Due: sphinx-lint, pyright

Changed perturber used in jatic-perturbations-saliency notebook
  docs/examples/maite/jatic-perturbations-saliency.ipynb
  docs/release_notes/pending_release/777-fixed-notebook-rendering.rst
Due: sphinx-lint

Fixed PDF docs CI job by adding texlive-luatex dependency
  .gitlab-ci/.gitlab-docs.yml
  docs/conf.py
  docs/release_notes/pending_release/777-fixed-notebook-rendering.rst
Due: sphinx-lint, pyright

Update to v0.27.1
  docs/release_notes/index.rst
  docs/release_notes/pending_release/768-broken-readme-on-pypi.rst
  docs/release_notes/pending_release/769-sphinx-errors-and-warnings.rst
  docs/release_notes/pending_release/770-release-notes-script.rst
  docs/release_notes/pending_release/771-fixed-nightly-build.rst
  docs/release_notes/pending_release/777-fixed-notebook-rendering.rst
  docs/release_notes/pending_release/778-tox-overly-restricts-gpu.rst
  docs/release_notes/pending_release/779-fix-torch-set-seed.rst
  docs/release_notes/pending_release/780-torch-rng-limits-cuda-device.rst
  docs/release_notes/pending_release/781-turbulence-aperture-check.rst
  docs/release_notes/v0.27.1.rst
  pyproject.toml
Due: sphinx-lint

Improved visuals for explanations, how-to-guides, and tutorials pages
  docs/explanations/index.rst
  docs/explanations/risk_factors.rst
  docs/how_to_guides/index.rst
  docs/release_notes/pending_release/760-visually-appealing-docs.rst
  docs/tutorials/index.rst
Due: sphinx-lint

Additional refinement to the 'Getting Started' documentation
  docs/conf.py
  docs/examples/nrtk_tutorial.ipynb
  docs/getting_started/first_perturbation.rst
  docs/getting_started/installation.rst
  docs/getting_started/quickstart.rst
  docs/index.rst
  docs/release_notes/pending_release/docs-refinement-continued.rst
  docs/tutorials/index.rst
Due: sphinx-lint, pyright

Add poetry2conda to pyproject
  docs/release_notes/pending_release/poetry2conda-pyproject.rst
  pyproject.toml
Due: sphinx-lint

Refactored container CI pipeline to address numerous bugs
  .gitlab-ci/.gitlab-container.yml
  .trivyignore
  Dockerfile
  docs/containers/aukus.rst
  docs/containers/nrtk-perturber.rst
  docs/release_notes/pending_release/containerization-706-740-785.rst
  poetry.lock
Due: sphinx-lint

Updated docs to reflect tox updates
  README.md
  docs/development/index.rst
  docs/development/test-architecture.rst
  docs/getting_started/installation.rst
  docs/release_notes/pending_release/tox-documentation.rst
Due: sphinx-lint

A series of bug fixes missed in v1.0.0 release
  .gitlab-ci/.gitlab-test.yml
  docs/examples/nrtk_xaitk_workflow/README.md
  docs/examples/nrtk_xaitk_workflow/image_classification_perturbation_saliency.ipynb
  docs/examples/nrtk_xaitk_workflow/notebook_tests/conftest.py
  docs/examples/nrtk_xaitk_workflow/notebook_tests/image_classification/test_dataset.py
  docs/examples/nrtk_xaitk_workflow/notebook_tests/image_classification/test_model.py
  docs/examples/nrtk_xaitk_workflow/notebook_tests/object_detection/test_dataset.py
  docs/examples/nrtk_xaitk_workflow/notebook_tests/object_detection/test_model.py
  docs/examples/nrtk_xaitk_workflow/notebook_tests/pytest.ini
  docs/examples/nrtk_xaitk_workflow/object_detection_perturbation_saliency.ipynb
  docs/examples/nrtk_xaitk_workflow/utils/image_classification/__init__.py
  docs/examples/nrtk_xaitk_workflow/utils/image_classification/_dataset.py
  docs/examples/nrtk_xaitk_workflow/utils/image_classification/_model.py
  docs/examples/nrtk_xaitk_workflow/utils/image_classification/dataset.py
  docs/examples/nrtk_xaitk_workflow/utils/image_classification/model.py
  docs/examples/nrtk_xaitk_workflow/utils/object_detection/__init__.py
  docs/examples/nrtk_xaitk_workflow/utils/object_detection/_dataset.py
  docs/examples/nrtk_xaitk_workflow/utils/object_detection/_model.py
  docs/examples/nrtk_xaitk_workflow/utils/object_detection/dataset.py
  docs/examples/nrtk_xaitk_workflow/utils/object_detection/model.py
  docs/release_notes/pending_release/xaitk-notebook-guards.rst
  pyproject.toml
Due: sphinx-lint, pyright

Fixed a couple of links in validation and trust
  docs/release_notes/pending_release/validation-trust-links.rst
  docs/validation_and_trust.rst
Due: sphinx-lint

Fixed documentation typos, broken references, and stale metadata
  CONTRIBUTING.md
  README.md
  docs/development/release_process.rst
  docs/release_notes/pending_release/docs-metadata-fixes.rst
  pyproject.toml
Due: sphinx-lint

Fixed some missing CI jobs
  .gitlab-ci/.gitlab-quality.yml
  .gitlab-ci/.gitlab-shared.yml
  .gitlab-ci/.gitlab-test.yml
  docs/development/test-architecture.rst
  docs/release_notes/pending_release/ci-quality-tox-migration.rst
  tox.ini
Due: sphinx-lint

Update to the latest DSO Components
  .gitlab-ci.yml
  .gitlab-ci/pipelines/.gitlab-compliance.yml
  pyproject.toml
  tests/conftest.py
  tests/examples/conftest.py
Due: pyright

Add marker required fixture
  tests/conftest.py
  tests/entrypoints/test_entrypoints_optional_deps.py
  tests/impls/perturb_image/environment/test_water_droplet_optional_deps.py
  tests/impls/perturb_image/generative/test_diffusion_perturber_optional_deps.py
  tests/impls/perturb_image/geometric/test_geometric_optional_deps.py
  tests/impls/perturb_image/optical/test_pybsm_optional_deps.py
  tests/impls/perturb_image/photometric/test_blur_optional_deps.py
  tests/impls/perturb_image/photometric/test_enhance_optional_deps.py
  tests/impls/perturb_image/photometric/test_noise_optional_deps.py
  tests/impls/perturb_image/test_albumentations_optional_deps.py
  tests/interop/maite/api/test_api_optional_deps.py
  tests/interop/maite/augmentations/test_augmentations_optional_deps.py
  tests/interop/maite/datasets/test_datasets_optional_deps.py
  tests/interop/maite/metadata/test_metadata_optional_deps.py
  tests/interop/test_interop_optional_deps.py
Due: pyright

Fixed a couple of import guard testing issues
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release/fix-tox-all-extras.rst
  tests/_utils/import_guard_tests_mixin.py
  tests/impls/perturb_image/optical/test_pybsm_optional_deps.py
  tox.ini
Due: sphinx-lint, pyright

Update ruff
  docs/examples/albumentations_perturber.ipynb
  docs/examples/generative_perturbers.ipynb
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_jitter_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/examples/maite/nrtk_radial_distortion_perturber_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/maite/nrtk_water_droplet_perturber_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/optical_perturbers.ipynb
  docs/examples/photometric_perturbers.ipynb
  docs/examples/pybsm_default_config.ipynb
  docs/release_notes/pending_release/update-dso-components.rst
  poetry.lock
  pyproject.toml
  src/nrtk/interfaces/_plugfigurable.py
Due: sphinx-lint, pyright

Add check for input dataset in nrtk_perturber_cli
  docs/containers/nrtk-perturber.rst
  docs/release_notes/pending_release/846-fix-bad-dataset-cli.rst
  src/nrtk/entrypoints/_nrtk_perturber_cli.py
  tests/entrypoints/test_nrtk_perturber_cli.py
Due: sphinx-lint, pyright

Update to v1.0.2
  docs/examples/albumentations_perturber.ipynb
  docs/examples/generative_perturbers.ipynb
  docs/examples/maite/jatic-perturbations-saliency.ipynb
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/examples/maite/nrtk_jitter_perturber_demo.ipynb
  docs/examples/maite/nrtk_lens_flare_demo.ipynb
  docs/examples/maite/nrtk_radial_distortion_perturber_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/maite/nrtk_water_droplet_perturber_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/nrtk_xaitk_workflow/image_classification_perturbation_saliency.ipynb
  docs/examples/nrtk_xaitk_workflow/object_detection_perturbation_saliency.ipynb
  docs/examples/optical_perturbers.ipynb
  docs/examples/photometric_perturbers.ipynb
  docs/examples/pybsm_default_config.ipynb
  docs/release_notes/index.rst
  docs/release_notes/pending_release/846-fix-bad-dataset-cli.rst
  docs/release_notes/pending_release/fix-tox-all-extras.rst
  docs/release_notes/pending_release/update-dso-components.rst
  docs/release_notes/v1.0.2.rst
  pyproject.toml
Due: sphinx-lint

Added 04-15 webinar materials
  docs/tutorials/index.rst
  docs/tutorials/webinars/2026_04_15_stress_test_ai_models/data/preview_haze.png
  docs/tutorials/webinars/2026_04_15_stress_test_ai_models/data/preview_waterdrop.png
  docs/tutorials/webinars/2026_04_15_stress_test_ai_models/index.rst
  docs/tutorials/webinars/2026_04_15_stress_test_ai_models/notebook.ipynb
  docs/tutorials/webinars/index.rst
  pyproject.toml
Due: sphinx-lint

Added a MISB ST1909 based burn in perturber
  docs/development/experimental.rst
  docs/release_notes/pending_release/misbst-burn-in.rst
  pyproject.toml
  src/nrtk/impls/perturb_video/__init__.py
  src/nrtk/impls/perturb_video/burn_in/__init__.py
  src/nrtk/impls/perturb_video/burn_in/_misb_st1909_burn_in_perturber.py
  tests/impls/perturb_video/burn_in/__init__.py
  tests/impls/perturb_video/burn_in/__snapshots__/test_misb_st1909_burn_in_perturber/TestMISBST1909BurnInPerturber.test_regression.mp4
  tests/impls/perturb_video/burn_in/__snapshots__/test_misb_st1909_burn_in_perturber/TestMISBST1909BurnInPerturber.test_regression_with_fixed_metadata.mp4
  tests/impls/perturb_video/burn_in/test_misb_st1909_burn_in_perturber.py
Due: sphinx-lint, pyright

Require @override via pyright
  docs/examples/xaitk_saliency_workflow/utils/image_classification/_dataset.py
  docs/examples/xaitk_saliency_workflow/utils/image_classification/_model.py
  docs/examples/xaitk_saliency_workflow/utils/object_detection/_dataset.py
  docs/examples/xaitk_saliency_workflow/utils/object_detection/_model.py
  docs/release_notes/pending_release/enforce-override.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/environment/_water_droplet_perturber.py
  src/nrtk/impls/perturb_image/geometric/_random/random_crop_perturber.py
  src/nrtk/impls/perturb_image/optical/_pybsm_perturber.py
  src/nrtk/impls/perturb_image_factory/_perturber_multivariate_factory.py
  src/nrtk/impls/perturb_video/burn_in/_misb_st1909_burn_in_perturber.py
  src/nrtk/interfaces/_plugfigurable.py
  src/nrtk/interop/_maite/augmentations/_maite_image_classification_augmentation.py
  src/nrtk/interop/_maite/augmentations/_maite_multiobject_tracking_augmentation.py
  src/nrtk/interop/_maite/augmentations/_maite_object_detection_augmentation.py
  src/nrtk/interop/_maite/datasets/_coco_maite_object_detection_dataset.py
  src/nrtk/interop/_maite/datasets/_maite_image_classification_dataset.py
  src/nrtk/interop/_maite/datasets/_maite_object_detection_dataset.py
  tests/_utils/guard_plugin/_impl.py
  tests/conftest.py
  tests/impls/perturb_video/_base/test_numpy_random_perturb_video.py
  tests/impls/perturb_video/burn_in/test_misb_st1909_burn_in_perturber.py
  tests/impls/perturb_video/optical/_hcipy/test_turbulence_video_perturber.py
  tests/impls/perturb_video/test_codec_macroblock_perturber.py
  tests/impls/perturb_video/test_framewise_perturber.py
  tests/interfaces/test_plugfigurable.py
Due: sphinx-lint, pyright

Add MISBST1909BurnInPerturber How-To guide
  .gitlab-ci/.gitlab-test.yml
  docs/development/experimental.rst
  docs/examples/misb_st1909_burn_in_perturber.ipynb
  docs/release_notes/pending_release/burnin-how-to.rst
  tests/examples/test_notebooks.py
Due: sphinx-lint, pyright

Add experimental_guard.ipynb
  .gitlab-ci/.gitlab-test.yml
  docs/development/experimental.rst
  docs/examples/experimental_guard.ipynb
  docs/release_notes/pending_release/add-experimental-notebook.rst
  tests/examples/test_notebooks.py
  tox.ini
Due: sphinx-lint, pyright

Add macroblocking how-to
  .gitlab-ci/.gitlab-test.yml
  docs/development/experimental.rst
  docs/examples/codec_macroblock_perturber.ipynb
  docs/release_notes/pending_release/add-codec-macroblock-notebook.rst
  tests/examples/test_notebooks.py
Due: sphinx-lint, pyright

Path conditions:
  sphinx-lint: any of: \.rst$
  pyright: any of: \.py$
