Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

Auto Merge Request - 9933546d
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Due: none

Drop python 3.8 support
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Update version number to 0.13.0
  docs/release_notes.rst
  docs/release_notes/v0.13.0.rst
  pyproject.toml
Due: sphinx-lint

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update release notes
  docs/release_notes/v0.13.0.rst
Due: sphinx-lint

added interpolation option for otf perturber objects
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
Due: black, ruff, mypy, flake8

added turbulence_apterture_otf_perturber tests and modifications
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/__snapshots__/test_turbulence_aperture_otf_perturber/TestTurbulenceApertureOTFPerturber.test_regression[False-None-None-None-None-None-None-None-None-None-None-None].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_turbulence_aperture_otf_perturber/TestTurbulenceApertureOTFPerturber.test_regression[False-mtf_wavelengths3-mtf_weights3-250-250-0.04-0-1.7e-14-0.03-1.0-0-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_turbulence_aperture_otf_perturber/TestTurbulenceApertureOTFPerturber.test_regression[True-None-None-None-None-None-None-None-None-None-None-None].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_turbulence_aperture_otf_perturber/TestTurbulenceApertureOTFPerturber.test_regression[True-mtf_wavelengths2-mtf_weights2-250-250-0.04-0-1.7e-14-0.03-1.0-0-True].tiff
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8

Added in tests for modified otf classes
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[False-3e-06-2e-05-0.03-True].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[False-None-None-None-None].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-3e-06-2e-05-0.03-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-None-None-None-None].tiff
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
Due: black, ruff, mypy, flake8

added pending release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fixed an issue with optional dependencies being configured incorrectly.
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Fixed black formatting failure.
  examples/coco_scorer.ipynb
  examples/perturbers.ipynb
  examples/pybsm/pybsm_test.ipynb
  examples/simple_generic_generator.ipynb
  examples/simple_pybsm_generator.ipynb
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_generic_generator.py
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image_factory/generic/step.py
  src/nrtk/impls/score_detections/coco_scorer.py
  src/nrtk/impls/score_detections/nop_scorer.py
  src/nrtk/impls/score_detections/random_scorer.py
  src/nrtk/interfaces/gen_classifier_blackbox_response.py
  src/nrtk/interfaces/gen_object_detector_blackbox_response.py
  src/nrtk/interfaces/perturb_image.py
  src/nrtk/interfaces/perturb_image_factory.py
  src/nrtk/interfaces/score_detections.py
  tests/impls/gen_object_detector_blackbox_response/test_generator_utils.py
  tests/impls/image_metric/image_metric_utils.py
  tests/impls/image_metric/test_snr_image_metric.py
  tests/impls/perturb_image/generic/PIL/test_enhance.py
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
  tests/impls/score_detections/test_class_agnostic_pixelwise_iou_scorer.py
  tests/impls/score_detections/test_coco_scorer.py
  tests/impls/score_detections/test_nop_scorer.py
  tests/impls/score_detections/test_random_scorer.py
  tests/interfaces/gen_blackbox_response/test_gen_blackbox_response.py
Due: black, ruff, mypy, flake8

Update version number to 0.14.0
  docs/release_notes.rst
  docs/release_notes/v0.14.0.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.14.0.rst
Due: sphinx-lint

Add factory perturber instance attribute testing for OTF perturbers
  pyproject.toml
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].5.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].6.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].tiff
  tests/impls/perturb_image_factory/generic/test_linspace_step.py
  tests/impls/perturb_image_factory/generic/test_step.py
Due: black, ruff, mypy, flake8

Moved OTF computation to perturb method for OTF perturbers
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-5].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-5].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-5].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-5].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-5].tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-5].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-5].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-5].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-5].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-5].tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_linspace_step/TestFloatStepPertubImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.04-0.0004-5].tiff
  tests/impls/perturb_image_factory/generic/test_linspace_step.py
Due: black, ruff, mypy, flake8

modified snapshots to pass test
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].tiff
Due: none

Fixed ruff linting.
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_generic_generator.py
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/interfaces/gen_blackbox_response.py
  src/nrtk/interfaces/gen_object_detector_blackbox_response.py
  tests/impls/perturb_image/pybsm/test_pybsm_scenario.py
  tests/impls/score_detections/test_class_agnostic_pixelwise_iou_scorer.py
  tests/impls/score_detections/test_coco_scorer.py
  tests/impls/score_detections/test_nop_scorer.py
  tests/impls/score_detections/test_random_scorer.py
Due: black, ruff, mypy, flake8

Updated pending release notes.
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Auto Merge Request - 1502147e
  CONTRIBUTING.md
  README.md
  poetry.lock
  pyproject.toml
Due: none

Auto Merge Request - 8f5a7c70
  CONTRIBUTING.md
  docs/installation.rst
Due: sphinx-lint

Added pending release notes.
  docs/release_notes/pending_release.rst
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_generic_generator.py
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/interfaces/gen_blackbox_response.py
  src/nrtk/interfaces/gen_object_detector_blackbox_response.py
Due: black, ruff, mypy, flake8, sphinx-lint

Auto Merge Request - 758f17bc
  README.md
Due: none

Auto Merge Request - ba253b7f
  CONTRIBUTING.md
Due: none

Removed and old file.
  NOTICE
Due: none

nrtk specific link changes
  docs/getting_started.rst
Due: sphinx-lint

Added back in license to pyproject.toml.
  pyproject.toml
Due: none

Lowered the minimum supported scikit-image version.
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Add and test one_step perturber factory
  docs/implementations.rst
  pyproject.toml
  src/nrtk/impls/perturb_image_factory/generic/one_step.py
  tests/impls/perturb_image_factory/generic/__snapshots__/test_one_step.ambr
  tests/impls/perturb_image_factory/generic/test_one_step.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add release notes and ruff formating
  docs/release_notes/pending_release.rst
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_generic_generator.py
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/impls/perturb_image_factory/generic/one_step.py
  src/nrtk/interfaces/gen_blackbox_response.py
  src/nrtk/interfaces/gen_object_detector_blackbox_response.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added missing guarded import for pybsm and opencv.
  docs/release_notes/pending_release.rst
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  tests/impls/image_metric/test_niirs_image_metric.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_scenario.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image_factory/pybsm/test_pybsm.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.15.0
  docs/release_notes.rst
  docs/release_notes/v0.15.0.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.15.0.rst
Due: sphinx-lint

Hotfix to correct a missing type hint.
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.15.1
  docs/release_notes.rst
  docs/release_notes/v0.15.1.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.15.1.rst
Due: sphinx-lint

Implement compose perturber
  docs/implementations.rst
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
  tests/impls/perturb_image/pybsm/data/Expected Output.tiff
Due: black, ruff, mypy, flake8, sphinx-lint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
