Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
      types: [file, python]
    - id: check-added-large-files
-   repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        types: [file, python]
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff --fix
        types: [file, python]
        language: system
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        types: [file, python]
        language: system
      - id: flake8
        name: flake8
        entry: poetry run pflake8
        types: [file, python]
        language: system
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
        types: [rst]
        language: system

Update version number to 0.18.0
  docs/release_notes.rst
  docs/release_notes/v0.18.0.rst
  pyproject.toml
Due: sphinx-lint

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.18.0.rst
Due: sphinx-lint

Added pyright stub to pyproject.toml.
  pyproject.toml
Due: none

Auto Merge Request - d261e415
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Due: none

Add syrupy regression testing and rename perturber classes appropriately
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/generic/crop_perturber.py
  src/nrtk/impls/perturb_image/generic/translation_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_crop_perturber/TestRandomCropPerturber.test_regression.tiff
  tests/impls/perturb_image/generic/__snapshots__/test_translation_perturber/TestRandomTranslationPerturber.test_regression.tiff
  tests/impls/perturb_image/generic/test_crop_perturber.py
  tests/impls/perturb_image/generic/test_translation_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add missing autodoc entries and fix formatting errors
  docs/implementations.rst
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added Random Translation Perturber implementation
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/generic/translation_perturber.py
  tests/impls/perturb_image/generic/test_translation_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.19.0
  docs/release_notes.rst
  docs/release_notes/v0.19.0.rst
  pyproject.toml
Due: sphinx-lint

Add release notes summary
  docs/release_notes/v0.19.0.rst
Due: sphinx-lint

Fix identity operation for RandomTranslationPerturber
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/generic/translation_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_translation_perturber/TestRandomTranslationPerturber.test_regression[None].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit1].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit2].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit3].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_translation_perturber/TestRandomTranslationPerturber.test_regression[max_translation_limit4].tiff
  tests/impls/perturb_image/generic/test_translation_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.19.1
  docs/release_notes.rst
  docs/release_notes/v0.19.1.rst
  pyproject.toml
Due: sphinx-lint

Add release notes summary
  docs/release_notes/v0.19.1.rst
Due: sphinx-lint

Fix RGB image issue for resampling function
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update version number to 0.19.2
  docs/release_notes.rst
  docs/release_notes/v0.19.2.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.19.2.rst
Due: sphinx-lint

Add docs CI override to install extras
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-docs.yml
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fixed a comment
  .gitlab-ci/.gitlab-docs.yml
Due: none

Update docs formatting
  docs/index.rst
  docs/nrtk_tutorial.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Remove DALI from augmentations.ipynb
  examples/maite/augmentations.ipynb
Due: none

Update T&E notebooks
  examples/maite/nrtk_brightness_perturber_demo.ipynb
  examples/maite/nrtk_focus_perturber_demo.ipynb
  examples/maite/nrtk_turbulence_perturber_demo.ipynb
Due: none

Fix maite-related tests
  tests/interop/maite/data/VisDrone2019-DET-test-dev-TINY/annotations.json
  tests/interop/maite/data/VisDrone2019-DET-test-dev-TINY/image_metadata.json
  tests/interop/maite/utils/test_nrtk_perturber_opencv.py
  tests/interop/maite/utils/test_nrtk_perturber_pybsm.py
Due: black, ruff, mypy, flake8

Fixed a guarded import for src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
Due: black, ruff, mypy, flake8

Add remaining import guards
  poetry.lock
  pyproject.toml
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  src/nrtk/interop/maite/api/app.py
  src/nrtk/interop/maite/api/aukus_app.py
  src/nrtk/interop/maite/api/aukus_schema.py
  src/nrtk/interop/maite/api/converters.py
  src/nrtk/interop/maite/api/schema.py
  src/nrtk/interop/maite/utils/nrtk_perturber.py
  src/nrtk/utils/_exceptions.py
  tests/impls/image_metric/test_niirs_image_metric.py
  tests/impls/perturb_image_factory/generic/test_linspace_step.py
  tests/impls/perturb_image_factory/pybsm/test_pybsm.py
  tests/interop/maite/api/test_app.py
  tests/interop/maite/api/test_aukus_app.py
  tests/interop/maite/api/test_conversion_funcs.py
  tests/interop/maite/utils/test_nrtk_perturber_opencv.py
Due: black, ruff, mypy, flake8

Fixed an import guard for tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  tests/impls/test_pybsm_utils.py
Due: black, ruff, mypy, flake8

Added tools import guards for src/nrtk/interop/maite/object_detection/utils.py
  src/nrtk/interop/maite/interop/object_detection/dataset.py
  src/nrtk/interop/maite/interop/object_detection/utils.py
  src/nrtk/utils/_exceptions.py
  tests/interop/maite/interop/object_detection/test_utils.py
Due: black, ruff, mypy, flake8

WIP Adding nrtk-jatic notebooks
  .gitlab-ci/.gitlab-test.yml
  examples/maite/augmentations.ipynb
  examples/maite/compute_image_metric.ipynb
  examples/maite/jatic-perturbations-saliency.ipynb
  examples/maite/models/__init__.py
  examples/maite/nrtk_focus_perturber_demo.ipynb
Due: black, ruff, mypy, flake8

WIP
  examples/maite/models/datasets.py
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image_factory/pybsm.py
  src/nrtk/interop/maite/api/app.py
  src/nrtk/interop/maite/api/converters.py
  src/nrtk/interop/maite/api/schema.py
  src/nrtk/interop/maite/interop/__init__.py
  src/nrtk/interop/maite/interop/generic.py
  src/nrtk/interop/maite/interop/image_classification/augmentation.py
  src/nrtk/interop/maite/interop/image_classification/dataset.py
  src/nrtk/interop/maite/interop/object_detection/augmentation.py
  src/nrtk/interop/maite/interop/object_detection/dataset.py
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
  src/nrtk/interop/maite/utils/nrtk_perturber.py
  tests/interop/maite/api/test_app.py
  tests/interop/maite/api/test_aukus_app.py
  tests/interop/maite/api/test_conversion_funcs.py
  tests/interop/maite/interop/image_classification/test_augmentation.py
  tests/interop/maite/interop/image_classification/test_dataset.py
  tests/interop/maite/interop/object_detection/test_augmentation.py
  tests/interop/maite/interop/object_detection/test_dataset.py
  tests/interop/maite/interop/object_detection/test_utils.py
  tests/interop/maite/interop/test_generic.py
Due: black, ruff, mypy, flake8

Remove responses from maite extra
  poetry.lock
  pyproject.toml
Due: none

Ruff linting
  examples/maite/compute_image_metric.ipynb
  examples/maite/models/__init__.py
  src/nrtk/interop/maite/interop/object_detection/augmentation.py
  tests/interop/maite/interop/image_classification/test_augmentation.py
  tests/interop/maite/interop/object_detection/test_augmentation.py
Due: black, ruff, mypy, flake8

Add pending release notes entry
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix jatic-perturbation-saliency notebook
  examples/maite/jatic-perturbations-saliency.ipynb
Due: none

More import guards
  .gitlab-ci/.gitlab-test.yml
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/interop/maite/api/app.py
  src/nrtk/interop/maite/api/converters.py
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
  tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_scenario.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image_factory/generic/test_step.py
  tests/impls/test_pybsm_utils.py
  tests/interop/maite/api/test_app.py
  tests/interop/maite/api/test_aukus_app.py
  tests/interop/maite/api/test_conversion_funcs.py
  tests/interop/maite/utils/test_nrtk_perturber_cli.py
  tests/interop/maite/utils/test_nrtk_perturber_pybsm.py
Due: black, ruff, mypy, flake8

Remove TypeVars and check for specific ImportErrors
  .gitlab-ci/.gitlab-test.yml
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/interfaces/perturb_image_factory.py
  src/nrtk/interop/maite/api/app.py
  src/nrtk/interop/maite/api/aukus_app.py
  src/nrtk/interop/maite/api/aukus_schema.py
  src/nrtk/interop/maite/api/converters.py
  src/nrtk/interop/maite/api/schema.py
  src/nrtk/interop/maite/interop/object_detection/dataset.py
  src/nrtk/interop/maite/interop/object_detection/utils.py
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
  src/nrtk/interop/maite/utils/nrtk_perturber.py
  tests/impls/gen_object_detector_blackbox_response/test_pybsm_generator.py
  tests/impls/gen_object_detector_blackbox_response/test_simple_generic_generator.py
  tests/impls/perturb_image/generic/PIL/test_enhance.py
  tests/impls/perturb_image/generic/cv2/test_blur.py
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/interop/maite/api/test_conversion_funcs.py
  tests/interop/maite/interop/object_detection/test_utils.py
Due: black, ruff, mypy, flake8
