Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

updated maite lowerbound to v0p8p2
  docs/release_notes/pending_release/505-update-maite-lowerbound.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Git LFS docs
  CONTRIBUTING.md
  docs/examples/README.md
  docs/installation.rst
  docs/release_notes/pending_release/git-lfs.rst
Due: sphinx-lint

Regenerate lockfile using poetry v1.8.5
  poetry.lock
Due: none

Added ability to print installed extras
  .pre-commit-config.yaml
  docs/examples/README.md
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
  docs/release_notes/pending_release/print-installed-extras.rst
  pyproject.toml
  src/nrtk/utils/_extras.py
  src/nrtk/utils/_extras.yml
Due: black, ruff, mypy, flake8, sphinx-lint

Fixed a typo in the nrtk version for affine notebook
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
Due: none

Update version number to 0.25.0
  docs/release_notes/v0.25.0.rst
  pyproject.toml
Due: sphinx-lint

Clear release notes fragments
  docs/release_notes/pending_release/272-random-rotation-perturber.rst
  docs/release_notes/pending_release/458-import-guards.rst
  docs/release_notes/pending_release/460-ic-nrtk-xaik-notebook.rst
  docs/release_notes/pending_release/461-remove-box-allignment-mode.rst
  docs/release_notes/pending_release/464-water-droplet-perturber.rst
  docs/release_notes/pending_release/492-affine-perturbers-notebook.rst
  docs/release_notes/pending_release/504-fuzzy-tiff-compare.rst
  docs/release_notes/pending_release/505-update-maite-lowerbound.rst
  docs/release_notes/pending_release/default-config.rst
  docs/release_notes/pending_release/diffusion-notebook.rst
  docs/release_notes/pending_release/diffusion-perturber.rst
  docs/release_notes/pending_release/drop-py39.rst
  docs/release_notes/pending_release/git-lfs.rst
  docs/release_notes/pending_release/print-installed-extras.rst
  docs/release_notes/pending_release/py-upperbound.rst
  docs/release_notes/pending_release/update-input-img-paths.rst
  docs/release_notes/pending_release/update-skimage-rng-default.rst
Due: sphinx-lint

Updated v0.25.0 release notes
  docs/release_notes/v0.25.0.rst
Due: sphinx-lint

Fixed a typo in release notes
  docs/release_notes/v0.25.0.rst
Due: sphinx-lint

Restructured Affine perturbers T&E guide to clarify mAP usage
  docs/examples/maite/nrtk_affine_perturbers_demo.ipynb
Due: none

Added release notes docs to sphinx doctree
  docs/release_notes.rst
Due: sphinx-lint

Add clone for url checker script and update RTD Config
  scripts/check_markdown_links.pl
Due: none

Remove water_droplet_utils and move helper functions to WaterDropletPerturber
  docs/release_notes/pending_release/remove-water-droplet-utils.rst
  src/nrtk/impls/perturb_image/generic/utils/__init__.py
  src/nrtk/impls/perturb_image/generic/utils/water_droplet_perturber_utils.py
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_ccw_sort.tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.2-0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.2-1].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.5-0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.5-1].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.7-0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_bezier_curve[0.7-1].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[100-0.8-0.2-0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[100-0.8-0.2-50].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[5-0.8-0.2-0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_water_droplet_perturber/TestWaterDropletPerturberUtils.test_regression_get_random_points_within_min_dist[5-0.8-0.2-50].tiff
  tests/impls/perturb_image/generic/test_water_droplet_perturber.py
  tests/impls/perturb_image/generic/utils/__init__.py
  tests/impls/perturb_image/generic/utils/test_water_droplet_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added a job to run the VCRM from metarepo
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-vcrm.yml
Due: none

Use import_guard in DiffusionPerturber
  src/nrtk/impls/perturb_image/generic/diffusion_perturber.py
  tests/impls/perturb_image/generic/test_diffusion_perturber.py
Due: black, ruff, mypy, flake8

Added missing transformers to diffusion extra
  poetry.lock
  pyproject.toml
  src/nrtk/utils/_extras.yml
Due: none

Test normalized compare
  tests/conftest.py
  tests/impls/perturb_image/generic/test_water_droplet_perturber.py
Due: black, ruff, mypy, flake8

Rename linspace factory module
  docs/implementations.rst
  docs/release_notes/pending_release/538-rename-linspace.rst
  pyproject.toml
  src/nrtk/impls/perturb_image_factory/generic/linspace.py
  tests/data/nrtk_bad_linspace_config.json
  tests/data/nrtk_noise_config.json
  tests/impls/perturb_image_factory/generic/test_linspace.py
Due: black, ruff, mypy, flake8, sphinx-lint

Ensure update_release_notes.sh updates Sphinx docs
  scripts/update_release_notes.sh
Due: none

Added JitterOTFPerturber T&E guide notebook
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_jitter_perturber_demo.ipynb
  docs/maite/testing_and_eval_guides.rst
  docs/release_notes/pending_release/546-jitter-otf-te-guide.rst
  docs/risk_factors.rst
  docs/testing_and_evaluation_notebooks.rst
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added pybsm uav default config json and a python notebook showing how to load it in
  .gitlab-ci/.gitlab-test.yml
  docs/examples/pybsm/pybsm_default_config.ipynb
  docs/release_notes/pending_release/pending_update.rst
  src/nrtk/impls/perturb_image/pybsm/data/uav_default_config.json
  src/nrtk/impls/perturb_image/pybsm/utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Fixed pre commit config for mdformat
  .gitlab-ci/.gitlab-vcrm.yml
  .pre-commit-config.yaml
  docs/examples/maite/README.md
  docs/release_notes/pending_release/precommit-hook-update.rst
Due: sphinx-lint

Updated poetry lock to address vulnerabilities
  poetry.lock
Due: none

Remove xaitk-jatic from dependencies
  docs/examples/maite/jatic-perturbations-saliency.ipynb
  docs/examples/nrtk_xaitk_workflow/image_classification_perturbation_saliency.ipynb
  docs/release_notes/pending_release/540-remote-xaitk-jatic-from-deps.rst
  poetry.lock
  pyproject.toml
  src/nrtk/utils/_extras.yml
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add NRTK/XAITK OD notebook
  docs/examples/nrtk_xaitk_workflow/object_detection_perturbation_saliency.ipynb
  docs/index.rst
  docs/release_notes/pending_release/add-nrtk-xaitk-od-notebook.rst
  src/nrtk/utils/interop/__init__.py
  src/nrtk/utils/interop/object_detection/__init__.py
  src/nrtk/utils/interop/object_detection/dataset.py
  src/nrtk/utils/interop/object_detection/model.py
  tests/conftest.py
  tests/utils/interop/object_detection/__init__.py
  tests/utils/interop/object_detection/test_dataset.py
  tests/utils/interop/object_detection/test_model.py
Due: black, ruff, mypy, flake8, sphinx-lint

Fixed a bug with PyBSMSensor where parameter wasn't properly set
  docs/release_notes/pending_release/pybsm-sensor-bug-fix.rst
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  tests/impls/image_metric/test_niirs_image_metric.py
  tests/impls/perturb_image/pybsm/__snapshots__/test_pybsm_perturber/TestPyBSMPerturber.test_regression.tiff
Due: black, ruff, mypy, flake8, sphinx-lint

Removed misleading config and added in proper default config
  docs/examples/pybsm/data/uav_default_config_nrtk.json
  docs/examples/pybsm/pybsm_default_config.ipynb
  src/nrtk/impls/perturb_image/pybsm/data/uav_default_config.json
Due: none

Added lazy importing to (sub)modules
  docs/release_notes/pending_release/add-__all__-to-modules.rst
  poetry.lock
  pyproject.toml
  src/nrtk/__init__.py
  src/nrtk/impls/__init__.py
  src/nrtk/impls/gen_object_detector_blackbox_response/__init__.py
  src/nrtk/impls/image_metric/__init__.py
  src/nrtk/impls/perturb_image/__init__.py
  src/nrtk/impls/perturb_image/generic/PIL/__init__.py
  src/nrtk/impls/perturb_image/generic/__init__.py
  src/nrtk/impls/perturb_image/generic/cv2/__init__.py
  src/nrtk/impls/perturb_image/generic/skimage/__init__.py
  src/nrtk/impls/perturb_image/pybsm/__init__.py
  src/nrtk/impls/perturb_image_factory/__init__.py
  src/nrtk/impls/perturb_image_factory/generic/__init__.py
  src/nrtk/impls/score_detections/__init__.py
  src/nrtk/interfaces/__init__.py
  src/nrtk/interop/__init__.py
  src/nrtk/interop/maite/__init__.py
  src/nrtk/interop/maite/api/__init__.py
  src/nrtk/interop/maite/interop/__init__.py
  src/nrtk/interop/maite/interop/image_classification/__init__.py
  src/nrtk/interop/maite/interop/object_detection/__init__.py
  src/nrtk/interop/maite/utils/__init__.py
  src/nrtk/utils/__init__.py
  src/nrtk/utils/interop/__init__.py
  src/nrtk/utils/interop/image_classification/__init__.py
  src/nrtk/utils/interop/object_detection/__init__.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add RandomScalePerturber
  docs/implementations.rst
  docs/installation.rst
  docs/release_notes/pending_release/add-random-scale-perturber.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/albumentations_perturber.py
  src/nrtk/impls/perturb_image/generic/random_scale_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_random_scale_perturber.ambr
  tests/impls/perturb_image/generic/__snapshots__/test_random_scale_perturber/TestRandomScalePerturber.test_regression.tiff
  tests/impls/perturb_image/generic/test_random_scale_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Modified pipeline loader to deal with dep mismatch
  docs/release_notes/pending_release/diffusion-pipeline-loader-fix.rst
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/diffusion_perturber.py
  src/nrtk/utils/_extras.yml
  tests/impls/perturb_image/generic/test_diffusion_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

adding snapshot extension for psnr
  docs/release_notes/pending_release/add-psnr-test-util.rst
  tests/conftest.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update Step perturber to use PSNRImageSnapshotExtension
  tests/impls/perturb_image_factory/generic/test_step.py
Due: black, ruff, mypy, flake8

replacing opencv calls in pybsm perturbers
  README.md
  docs/installation.rst
  docs/release_notes/pending_release/replace-opencv.rst
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
  src/nrtk/utils/_exceptions.py
  tests/impls/image_metric/test_niirs_image_metric.py
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-3e-06-2e-05-0.03-False-False].tiff
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-3e-06-2e-05-0.03-False-True].tiff
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update non-pybsm perturbers to use PSNR
  docs/release_notes/pending_release/update-perturbers-to-use-psnr.rst
  tests/impls/perturb_image/generic/cv2/test_blur.py
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
  tests/impls/perturb_image/generic/test_albumentations_perturber.py
  tests/impls/perturb_image/generic/test_radial_distortion_perturber.py
  tests/impls/perturb_image/generic/test_random_crop_perturber.py
  tests/impls/perturb_image/generic/test_random_rotation_perturber.py
  tests/impls/perturb_image/generic/test_random_translation_perturber.py
  tests/impls/perturb_image/generic/test_water_droplet_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
