Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
      types: [file, python]
    - id: check-added-large-files
-   repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        types: [file, python]
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff --fix
        types: [file, python]
        language: system
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        types: [file, python]
        language: system
      - id: flake8
        name: flake8
        entry: poetry run pflake8
        types: [file, python]
        language: system
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
        types: [rst]
        language: system

Auto Merge Request - baa0a833
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  docs/installation.rst
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, flake8, sphinx-lint

Add haze perturber
  docs/implementations.rst
  docs/release_notes/pending_release.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/haze_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_haze_perturber/TestHazePerturber.test_regression.tiff
  tests/impls/perturb_image/generic/test_haze_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Convert nrtk tutorial to notebook
  .gitlab-ci/.gitlab-test.yml
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/pybsm/data/M-41 Walker Bulldog (USA) width 319cm height 272cm.tiff
  docs/index.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add jatic docs
  docs/index.rst
  docs/jatic_interoperability.rst
Due: sphinx-lint

Update pending release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add api schema and t&e jatic docs
  .gitignore
  docs/index.rst
  docs/nrtk_jatic.rst
  docs/nrtk_jatic/api.rst
  docs/nrtk_jatic/jatic_interoperability.rst
  docs/nrtk_jatic/schema.rst
  docs/nrtk_jatic/testing_and_eval_guides.rst
  docs/nrtk_jatic/utils.rst
Due: sphinx-lint

Add missing nb
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
Due: none

Update example links
  docs/nrtk_jatic/testing_and_eval_guides.rst
Due: sphinx-lint

Lint
  docs/nrtk_jatic.rst
Due: sphinx-lint

Fix img file
  docs/examples/maite/data/visdrone_img.jpg
Due: none

Update api dir path in docs
  docs/nrtk_jatic/api.rst
Due: sphinx-lint

Rename nrtk_jatic to interoperability
  docs/index.rst
  docs/interoperability.rst
Due: sphinx-lint

Update translation T&E guide after deprecation
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
Due: none

Update version number to 0.20.0
  docs/release_notes.rst
  docs/release_notes/v0.20.0.rst
  pyproject.toml
Due: sphinx-lint

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add release notes summary
  docs/release_notes/v0.20.0.rst
Due: sphinx-lint

Increase max file size
  .pre-commit-config.yaml
Due: none

Add sensor transform nb
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
Due: none

Add sensor transform nb to docs
  docs/nrtk_jatic/testing_and_eval_guides.rst
Due: sphinx-lint

Update turbulence demo link
  docs/nrtk_jatic/testing_and_eval_guides.rst
Due: sphinx-lint

Added static notebook type checking
  .gitlab-ci/.gitlab-test.yml
  docs/release_notes/pending_release.rst
  tests/examples/__init__.py
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update poetry lock with notebook testing dependencies
  .gitlab-ci/.gitlab-test.yml
  poetry.lock
  pyproject.toml
Due: none

Fix static type checking errors in example notebooks
  docs/examples/coco_scorer.ipynb
  docs/examples/maite/jatic-perturbations-saliency.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/pybsm/pybsm_test.ipynb
  docs/examples/simple_pybsm_generator.ipynb
Due: none

Add matplotlib dependency for notebook type checking
  docs/examples/coco_scorer.ipynb
  docs/examples/maite/nrtk_brightness_perturber_demo.ipynb
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_translation_perturber_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/perturbers.ipynb
  docs/examples/simple_generic_generator.ipynb
  docs/examples/simple_pybsm_generator.ipynb
  poetry.lock
  pyproject.toml
Due: none

Fix nrtk scorer and generator input typing issues
  docs/examples/coco_scorer.ipynb
  docs/examples/simple_generic_generator.ipynb
Due: none

Add numba dependency for centernet model
  poetry.lock
  pyproject.toml
Due: none

Add bbox resize util method
  src/nrtk/interfaces/perturb_image.py
Due: black, ruff, mypy, flake8

Use perturber impls for bboxes
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/interop/maite/interop/object_detection/augmentation.py
  tests/impls/perturb_image/pybsm/__snapshots__/test_pybsm_perturber.ambr
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
  tests/interop/maite/utils/test_utils.py
Due: black, ruff, mypy, flake8

Add perturb image test
  tests/interfaces/test_perturb_image.py
Due: black, ruff, mypy, flake8

Create new otf notebooks and render them in docs
  .gitlab-ci/.gitlab-test.yml
  .pre-commit-config.yaml
  docs/examples/otf_visualization.ipynb
  docs/index.rst
  docs/jitter.rst
  docs/otf_examples.rst
  docs/release_notes/pending_release.rst
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update README, getting_started.rst, index.rst, and installation.rst
  README.md
  docs/figures/nrtk-explorer-example.png
  docs/figures/nrtk-wordmark.png
  docs/getting_started.rst
  docs/index.rst
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update colab links
  docs/examples/coco_scorer.ipynb
  docs/examples/perturbers.ipynb
  docs/examples/pybsm/pybsm_test.ipynb
  docs/examples/simple_generic_generator.ipynb
  docs/examples/simple_pybsm_generator.ipynb
Due: none

Update pending release
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add simplified version of pyright_analyze and associated functions
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
  src/nrtk/interop/maite/interop/object_detection/dataset.py
  tests/examples/test_notebook_utils.py
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add mypy job override
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-quality.yml
Due: none

Remove unnecessary print in haze perturber
  src/nrtk/impls/perturb_image/generic/haze_perturber.py
Due: black, ruff, mypy, flake8

Add a haze perturber operational risk guide
  .gitlab-ci/.gitlab-test.yml
  docs/examples/maite/nrtk_haze_perturber_demo.ipynb
  docs/release_notes/pending_release.rst
  tests/examples/test_notebooks.py
Due: black, ruff, mypy, flake8, sphinx-lint
