Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: trailing-whitespace
      types: [file, python]
    - id: check-added-large-files
-   repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        types: [file, python]
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff --fix
        types: [file, python]
        language: system
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        types: [file, python]
        language: system
      - id: flake8
        name: flake8
        entry: poetry run pflake8
        types: [file, python]
        language: system
      - id: sphinx-lint
        name: sphinx-lint
        entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
        types: [rst]
        language: system

Numerous documentation and quality control updates
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/installation.rst
  docs/release_notes/pending_release.rst
  docs/review_process.rst
  poetry.lock
  pyproject.toml
  tests/impls/image_metric/image_metric_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Replaces Optional and Union with |
  docs/release_notes/pending_release.rst
  src/nrtk/interfaces/gen_blackbox_response.py
  src/nrtk/interop/maite/api/app.py
  src/nrtk/interop/maite/api/aukus_app.py
  tests/examples/test_notebook_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Improve inline documentation and format docstrings to 'Google' format
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/generic/albumentations_perturber.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/crop_perturber.py
  src/nrtk/impls/perturb_image/generic/haze_perturber.py
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  src/nrtk/impls/perturb_image/generic/translation_perturber.py
  src/nrtk/impls/perturb_image/generic/water_droplet_perturber.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Improved installation instructions for GitLab users
  README.md
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Fix deps vulnerability issues
  poetry.lock
Due: none

General doc updates and fixes
  docs/nrtk_explanation.rst
  docs/nrtk_jatic/testing_and_eval_guides.rst
  docs/release_notes/pending_release.rst
  docs/risk_factors.rst
Due: sphinx-lint

Add getting started link to tutorial
  docs/examples/nrtk_tutorial.ipynb
  docs/getting_started.rst
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Generate plaintext table in perturbations notebook
  docs/examples/maite/jatic-perturbations-saliency.ipynb
Due: none

Resolve "Clarify why Merge Request v Pull Request"
  docs/contributing.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Add release notes
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update RTD conf
  docs/conf.py
  docs/release_notes/pending_release.rst
Due: black, ruff, mypy, flake8, sphinx-lint

Improve tutorial transition for nrtk_tutorial
  docs/examples/nrtk_tutorial.ipynb
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Resolve "Phase 2: Ensure consistent treatment of optional installs"
  docs/installation.rst
Due: sphinx-lint

Move notebooks to tutorial
  docs/examples/coco_scorer.ipynb
  docs/index.rst
  docs/nrtk_how_to_topics.rst
  docs/release_notes/pending_release.rst
  docs/testing_and_evaluation_notebooks.rst
Due: sphinx-lint

Improve interop clarity and organization
  docs/examples/albumentations_perturber.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/otf_visualization.ipynb
  docs/examples/perturbers.ipynb
  docs/for_nrtk_developers.rst
  docs/generating_perturbed_datasets.rst
  docs/index.rst
  docs/interoperability.rst
  docs/maite/jatic_interoperability.rst
  docs/maite/nrtk_as_a_service.rst
  docs/release_notes/pending_release.rst
  docs/testing_and_evaluation_notebooks.rst
  src/nrtk/interop/maite/utils/bin/nrtk_perturber_cli.py
  src/nrtk/interop/maite/utils/nrtk_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add links to pyBSM image formation concepts
  docs/examples/maite/nrtk_focus_perturber_demo.ipynb
  docs/examples/maite/nrtk_sensor_transformation_demo.ipynb
  docs/examples/maite/nrtk_turbulence_perturber_demo.ipynb
  docs/examples/nrtk_tutorial.ipynb
  docs/examples/otf_visualization.ipynb
  docs/examples/pybsm/pybsm_test.ipynb
  docs/examples/simple_pybsm_generator.ipynb
  docs/getting_started.rst
  docs/nrtk_explanation.rst
  docs/release_notes/pending_release.rst
  src/nrtk/impls/gen_object_detector_blackbox_response/simple_pybsm_generator.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image_factory/pybsm.py
Due: black, ruff, mypy, flake8, sphinx-lint

Clarify PyBSM OTF parameters
  docs/examples/otf_visualization.ipynb
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update version number to 0.23.0
  docs/release_notes.rst
  docs/release_notes/v0.23.0.rst
  pyproject.toml
Due: sphinx-lint

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Updated v0.23.0 release notes
  docs/release_notes/v0.23.0.rst
Due: sphinx-lint

Updated the roadmap.
  ROADMAP.md
  docs/figures/nrtk-road-map.png
Due: none

Fix T&E guide README link
  README.md
Due: none

Add RadialDistortionPerturber
  docs/implementations.rst
  docs/release_notes/pending_release.rst
  docs/risk_factors.rst
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/radial_distortion_perturber.py
  tests/impls/perturb_image/generic/__snapshots__/test_radial_distortion_perturber/TestRadialDistortionPerturber.test_regression[k0].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_radial_distortion_perturber/TestRadialDistortionPerturber.test_regression[k1].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_radial_distortion_perturber/TestRadialDistortionPerturber.test_regression[k2].tiff
  tests/impls/perturb_image/generic/__snapshots__/test_radial_distortion_perturber/TestRadialDistortionPerturber.test_regression[k3].tiff
  tests/impls/perturb_image/generic/test_radial_distortion_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Pin version for dataset since it's old in Colab and fix nrtk install
  docs/examples/maite/jatic-perturbations-saliency.ipynb
Due: none

Add install nrtk fo nrtk_tutorial
  docs/examples/nrtk_tutorial.ipynb
Due: none

Add install nrtk for oft_visualization
  docs/examples/otf_visualization.ipynb
Due: none

Remove fastapi version restriction, causes massive failure
  docs/examples/maite/gradio/nrtk-gradio.ipynb
Due: none

Remove the previously added colb buttons from daml notebooks
  docs/examples/maite/daml/daml_example_notebook.ipynb
  docs/examples/maite/daml/daml_train_encoder.ipynb
Due: none

Fix bad rebase error in notebook formatting
  docs/examples/maite/gradio/nrtk-gradio.ipynb
Due: none

Auto Merge Request - bb771aab
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/installation.rst
  docs/release_process.rst
  docs/releasing.rst
  docs/review_process.rst
  pyproject.toml
  scripts/check_for_release_notes.sh
  scripts/update_release_notes.sh
  src/nrtk/__init__.py
Due: black, ruff, mypy, flake8, sphinx-lint

Change release notes to use a directory
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  docs/conf.py
  docs/installation.rst
  docs/release_notes/pending_release.rst
  docs/release_notes/pending_release/.gitkeep
  docs/release_notes/pending_release/pending_release.rst
  pyproject.toml
  src/nrtk/__init__.py
Due: black, ruff, mypy, flake8, sphinx-lint

Updated the roadmap to the EOY
  ROADMAP.md
  docs/figures/nrtk-road-map.png
Due: none
