Repository Kitware/nrtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, flake8, sphinx-lint

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run pflake8
  language: system

sphinx-lint:
  name: sphinx-lint
  entry: poetry run sphinx-lint --enable all --disable leaked-markup --jobs 1 --max-line-length 120 -i docs/_implementations docs
  language: system

Update version number to 0.16.0
  docs/release_notes.rst
  docs/release_notes/v0.16.0.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.16.0.rst
Due: sphinx-lint

Updated to CI/CD.
  .gitlab-ci/.gitlab-test.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  CONTRIBUTING.md
  README.md
  docs/.gitattributes
  docs/conf.py
  docs/installation.rst
  docs/make.bat
  docs/sphinx_server.py
  poetry.lock
  pyproject.toml
  scripts/check_for_release_notes.sh
  scripts/update_release_notes.sh
  src/nrtk/__init__.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added badges auto stub.
  README.md
Due: none

exposed random seed as a parameter of the pybsm perturber
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
Due: black, ruff, mypy, flake8

added release notes
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Auto Merge Request - f5865e99
  README.md
Due: none

Quick poetry.lock dependency update to address GitHub dependabot alert.
  poetry.lock
Due: none

fixed np random errors causing changes in pybsm perturber
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
Due: black, ruff, mypy, flake8

ruff fixes
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/score_detections/coco_scorer.py
  src/nrtk/impls/score_detections/nop_scorer.py
  src/nrtk/impls/score_detections/random_scorer.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
Due: black, ruff, mypy, flake8

ruff format fixes
  examples/coco_scorer.ipynb
  examples/perturbers.ipynb
  examples/pybsm/pybsm_test.ipynb
  examples/simple_generic_generator.ipynb
  examples/simple_pybsm_generator.ipynb
  src/nrtk/impls/image_metric/snr_image_metric.py
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image_factory/generic/linspace_step.py
  src/nrtk/impls/score_detections/coco_scorer.py
  src/nrtk/impls/score_detections/nop_scorer.py
  src/nrtk/impls/score_detections/random_scorer.py
  src/nrtk/interfaces/gen_classifier_blackbox_response.py
  src/nrtk/interfaces/perturb_image.py
  src/nrtk/interfaces/score_classifications.py
  src/nrtk/interfaces/score_detections.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
Due: black, ruff, mypy, flake8

modfied expected pybsm perturber test image
  tests/impls/perturb_image/pybsm/data/Expected Output.tiff
Due: none

mypy and ruff fixes. refactored sensor init to become less complex
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
Due: black, ruff, mypy, flake8

pytest fixes
  examples/coco_scorer.ipynb
  examples/perturbers.ipynb
  examples/pybsm/pybsm_test.ipynb
  examples/simple_pybsm_generator.ipynb
  src/nrtk/impls/image_metric/niirs_image_metric.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/scenario.py
  src/nrtk/impls/perturb_image/pybsm/sensor.py
  src/nrtk/interfaces/perturb_image.py
  tests/impls/perturb_image/pybsm/data/Expected Output.tiff
  tests/impls/perturb_image/pybsm/test_pybsm_sensor.py
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step.ambr
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[DetectorOTFPerturber-w_x-0-w_y-0.004-0.009-0.001].tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[JitterOTFPerturber-s_y-0-s_x-0.001-0.006-0.001].tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].1.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].2.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].3.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].4.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].5.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].6.tiff
  tests/impls/perturb_image_factory/generic/__snapshots__/test_step/TestStepPerturbImageFactory.test_perturb_instance_modification[TurbulenceApertureOTFPerturber-altitude-250-D-0.0004-0.04-0.0066].tiff
  tests/impls/perturb_image_factory/generic/test_step.py
  tests/test_utils.py
Due: black, ruff, mypy, flake8

release notes
  docs/release_notes/pending_release.rst
  examples/simple_generic_generator.ipynb
Due: sphinx-lint

Update perturb to handle bounding boxes
  docs/release_notes/pending_release.rst
  examples/perturbers.ipynb
  examples/pybsm/pybsm_test.ipynb
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/interfaces/gen_classifier_blackbox_response.py
  src/nrtk/interfaces/gen_object_detector_blackbox_response.py
  src/nrtk/interfaces/perturb_image.py
  tests/impls/perturb_image/generic/PIL/test_enhance.py
  tests/impls/perturb_image/generic/cv2/test_blur.py
  tests/impls/perturb_image/generic/skimage/test_random_noise.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
  tests/impls/perturb_image/generic/test_nop_perturber.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Add boxes_mode parameter
  docs/release_notes/pending_release.rst
  examples/pybsm/pybsm_test.ipynb
  poetry.lock
  pyproject.toml
  src/nrtk/impls/perturb_image/generic/PIL/enhance.py
  src/nrtk/impls/perturb_image/generic/compose_perturber.py
  src/nrtk/impls/perturb_image/generic/cv2/blur.py
  src/nrtk/impls/perturb_image/generic/nop_perturber.py
  src/nrtk/impls/perturb_image/generic/skimage/random_noise.py
  src/nrtk/impls/perturb_image/pybsm/circular_aperture_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/detector_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/jitter_otf_perturber.py
  src/nrtk/impls/perturb_image/pybsm/perturber.py
  src/nrtk/impls/perturb_image/pybsm/turbulence_aperture_otf_perturber.py
  src/nrtk/interfaces/gen_classifier_blackbox_response.py
  src/nrtk/interfaces/gen_object_detector_blackbox_response.py
  src/nrtk/interfaces/perturb_image.py
  tests/impls/perturb_image/generic/test_compose_perturber.py
  tests/impls/perturb_image/pybsm/test_circular_aperture_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_detector_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_jitter_otf_perturber.py
  tests/impls/perturb_image/pybsm/test_pybsm_perturber.py
  tests/impls/perturb_image/pybsm/test_turbulence_aperture_otf_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

added DefocusOTFPerturber and corresponding test cases
  docs/release_notes/pending_release.rst
  poetry.lock
  src/nrtk/impls/perturb_image/pybsm/defocus_otf_perturber.py
  tests/impls/perturb_image/pybsm/data/defocus_otf_default_expected_output.tiff
  tests/impls/perturb_image/pybsm/data/defocus_otf_provided_expected_output.tiff
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
Due: black, ruff, mypy, flake8, sphinx-lint

Update snapshots and pybsm pin to 0.10.1
  poetry.lock
  pyproject.toml
  tests/impls/perturb_image/pybsm/__snapshots__/test_detector_otf_perturber/TestDetectorOTFPerturber.test_regression[True-None-None-None-None].tiff
  tests/impls/perturb_image/pybsm/data/circular_aperture_otf_provided_expected_output.tiff
  tests/impls/perturb_image/pybsm/data/jitter_otf_provided_expected_output.tiff
Due: none

Removed some old comments.
  pyproject.toml
Due: none

Add pending release notes stub
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Update version number to 0.17.0
  docs/release_notes.rst
  docs/release_notes/v0.17.0.rst
  pyproject.toml
Due: sphinx-lint

Updated release notes.
  docs/release_notes/v0.17.0.rst
Due: sphinx-lint

Updated CI/CD to new extras install.
  .gitlab-ci/.gitlab-test.yml
Due: none

added crop perturber and test utils for testing perturber with boxes
  docs/release_notes/pending_release.rst
  src/nrtk/impls/perturb_image/generic/crop_perturber.py
  tests/impls/perturb_image/generic/test_crop_perturber.py
  tests/impls/perturb_image/pybsm/test_defocus_otf_perturber.py
  tests/impls/perturb_image/test_perturber_utils.py
Due: black, ruff, mypy, flake8, sphinx-lint

Added an override to require ruff linting.
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-quality.yml
Due: none

Added opencv section to installation docs
  docs/installation.rst
  docs/release_notes/pending_release.rst
Due: sphinx-lint

Updated the meta data and removed the devel-jatic bot section.
  pyproject.toml
Due: none

Updated README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Updated the auto-MR stubs.
  pyproject.toml
Due: none

Capped poetry version to <2.0
  .gitlab-ci/.gitlab-test.yml
  pyproject.toml
  src/nrtk/__init__.py
Due: black, ruff, mypy, flake8

Auto Merge Request - 162917a9
  CONTRIBUTING.md
  README.md
  docs/installation.rst
Due: sphinx-lint

removed changes to installation.rst
  docs/installation.rst
Due: sphinx-lint

Removed old quality override.
  .gitlab-ci.yml
  .gitlab-ci/.gitlab-quality.yml
Due: none

Bumped the minimum pybsm version which corrected a bug.
  docs/release_notes/pending_release.rst
  poetry.lock
  pyproject.toml
Due: sphinx-lint

Updated poetry.lock to remove vulnerability alert.
  poetry.lock
Due: none

Updated project description.
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  sphinx-lint: any of: \.rst$
